In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry
import numpy as np
from scipy import stats

MEGAMERGE is the culmination of a weeks effort of cleaning and combining data. Making sure everything clicks and workd in perfect harmony wih no null values at the end to be able to do machine learning.

In [2]:
# Load the datasets
gender_gap_education = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/gender-gap-education-levels_cleanded.csv')
birth_rate = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/birth_rate_first_clean.csv')
death_rate = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv')
gdp_per_capita = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/Gpd_per_capita_first_clean.csv')
population_growth = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/population-growth-rate-vs-median-age.csv')
world_population = pd.read_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/world_population.csv')

In [3]:
# Merge dataframes on 'Country Name' and 'Year'
merged_df = gender_gap_education.merge(birth_rate, on=['Country Name', 'Year'], how='outer')
merged_df = merged_df.merge(death_rate, on=['Country Name', 'Year'], how='outer')
merged_df = merged_df.merge(gdp_per_capita, on=['Country Name', 'Year'], how='outer')
merged_df = merged_df.merge(population_growth, on=['Country Name', 'Year'], how='outer')
merged_df = merged_df.merge(world_population, on=['Country Name', 'Year'], how='outer')

# Check for missing values
missing_values = merged_df.isnull().sum()

# Check for consistent data types
data_types = merged_df.dtypes

# Display results
missing_values, data_types

(Country Name                  0
 Year                          0
 Tertiary Enrolment (F)     5040
 Tertiary Enrolment (M)     5040
 Secondary Enrolment (M)    5040
 Secondary Enrolment (F)    5040
 Primary Enrolment (F)      5040
 Primary Enrolment (M)      5040
 Birth Rate                 3824
 Death Rate                 3822
 GDP per Capita             4992
 Natural Growth Rate        3864
 Median Age                 3864
 Total Population           3402
 dtype: int64,
 Country Name                object
 Year                         int64
 Tertiary Enrolment (F)     float64
 Tertiary Enrolment (M)     float64
 Secondary Enrolment (M)    float64
 Secondary Enrolment (F)    float64
 Primary Enrolment (F)      float64
 Primary Enrolment (M)      float64
 Birth Rate                 float64
 Death Rate                 float64
 GDP per Capita             float64
 Natural Growth Rate        float64
 Median Age                 float64
 Total Population           float64
 dtype: object)

In [4]:
# Define regions including European Union and Non-EU Europe and assign countries to regions
region_mapping = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar','Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Cote d\'Ivoire', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'European Union': ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden'],
    'Non-EU Europe': ['Albania', 'Andorra', 'Belarus', 'Bosnia and Herzegovina', 'Iceland', 'Kosovo', 'Moldova', 'Monaco', 'Montenegro', 'North Macedonia', 'Norway', 'San Marino', 'Serbia', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu'],
    'North America': ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'World': ['World']
}

# Flatten the region_mapping dictionary to reverse lookup the region for a country
country_to_region = {country: region for region, countries in region_mapping.items() for country in countries}

# Assign regions to countries in the merged_df
merged_df['Region'] = merged_df['Country Name'].apply(lambda x: country_to_region.get(x, 'Various'))

# Verify the new 'Region' column
merged_df.head()

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.520000,11.000000,46.060000,7.59,24.21,NaN,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.520303,2.150378,14.289395,3.848606,11.207511,45.501156,7.57,23.61,NaN,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.540607,2.440757,14.818789,4.177212,11.415022,44.942312,7.55,25.62,NaN,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.560910,2.731135,15.348184,4.505818,11.622532,44.383468,7.54,25.11,NaN,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.581213,3.021513,15.877578,4.834425,11.830043,43.824625,7.51,30.03,NaN,2.02,15.5,10243686.0,Asia

In [5]:

# Ensure the updated_regions dictionary includes the simplified names
updated_regions = {
    "South Korea": "Asia",
    "North Korea": "Asia",
    "Taiwan": "Asia",
    "Vietnam": "Asia",
    "American Samoa": "Oceania",
    "Anguilla": "North America",
    "Aruba": "North America",
    "Bermuda": "North America",
    "British Virgin Islands": "North America",
    "Brunei Darussalam": "Asia",
    "Cayman Islands": "North America",
    "Cook Islands": "Oceania",
    "Czechia": "European Union",
    "Faroe Islands": "Non-EU Europe",
    "French Guiana": "South America",
    "French Polynesia": "Oceania",
    "Gibraltar": "Non-EU Europe",
    "Greenland": "North America",
    "Guadeloupe": "North America",
    "Guam": "Oceania",
    "Guernsey": "Non-EU Europe",
    "Hong Kong": "Asia",
    "Isle of Man": "Non-EU Europe",
    "Jersey": "Non-EU Europe",
    "Kyrgyz Republic": "Asia",
    "Liechtenstein": "Non-EU Europe",
    "Macao": "Asia",
    "Martinique": "North America",
    "Mayotte": "Africa",
    "Montserrat": "North America",
    "New Caledonia": "Oceania",
    "Niue": "Oceania",
    "Northern Mariana Islands": "Oceania",
    "Puerto Rico": "North America",
    "Russian Federation": "Asia",
    "Saint Martin (French part)": "North America",
    "Saint Pierre and Miquelon": "North America",
    "Sint Maarten (Dutch part)": "North America",
    "Slovak Republic": "European Union",
    "Syrian Arab Republic": "Asia",
    "Taiwan": "Asia",
    "Tokelau": "Oceania",
    "Turkey": "Asia",
    "Turks and Caicos Islands": "North America",
    "Viet Nam": "Asia",
    "Wallis and Futuna": "Oceania",
    "Western Sahara": "Africa"
}

# Update the region in the dataframe
merged_df['Region'] = merged_df['Country Name'].map(updated_regions).fillna(merged_df['Region'])

In [6]:
# Define the new function to directly rename the specified countries
def rename_countries(df):
    rename_mapping = {
        'Korea, Rep.': 'South Korea',
        'Korea, Dem. People’s Rep.': 'North Korea',
        "Korea, Dem. People's Rep.": 'North Korea',
        'Taiwan': 'Taiwan',
        'Viet Nam': 'Vietnam',
        'Vietnam': 'Vietnam',
        'Syrian Arab Republic' : 'Syria'
    }
    df['Country Name'] = df['Country Name'].replace(rename_mapping)
    return df

# Apply the renaming function to the merged_df
combined_data = rename_countries(merged_df)

In [7]:
# Drop the specified rows
countries_to_drop = [
    'Europe & Central Asia',
    'Europe & Central Asia (excluding high income)', 'Europe and Central Asia (WB)',
    'Euro area', 'Anguilla', 'Europe (UN)', 'European Union', 'European Union (27)'
]

filtered_data = merged_df[~merged_df['Country Name'].isin(countries_to_drop)]

# Verify the rows are dropped
filtered_data_check = filtered_data[filtered_data['Country Name'].isin(countries_to_drop)]

In [8]:
# Replace specific country names with "European Union"
countries_to_rename = ['Europe (UN)', 'European Union', 'European Union (27)']
filtered_data['Country Name'] = filtered_data['Country Name'].replace(countries_to_rename, 'European Union')

# Verify the replacement
replacement_check = filtered_data[filtered_data['Country Name'] == 'European Union']

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/851706039.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Country Name'] = filtered_data['Country Name'].replace(countries_to_rename, 'European Union')

In [9]:
def merge_similar_names(combined_data, target_name, similar_names, target_region):
    # Replace specific country names with the target name
    combined_data['Country Name'] = combined_data['Country Name'].replace(similar_names, target_name)
    
    # Filter by region for the target name where region is 'Various' or a continent
    continents = ['Africa', 'Asia', 'European Union', 'Non-EU Europe', 'North America', 'Oceania', 'South America']
    filtered_data = combined_data[(combined_data['Country Name'] == target_name) & (combined_data['Region'].isin(['Various'] + continents))]
    
    # Group and aggregate by year
    aggregated_data = filtered_data.groupby('Year').agg({
        'Tertiary Enrolment (F)': 'mean',
        'Tertiary Enrolment (M)': 'mean',
        'Secondary Enrolment (M)': 'mean',
        'Secondary Enrolment (F)': 'mean',
        'Primary Enrolment (F)': 'mean',
        'Primary Enrolment (M)': 'mean',
        'Birth Rate': 'mean',
        'Death Rate': 'mean',
        'GDP per Capita': 'mean',
        'Natural Growth Rate': 'mean',
        'Median Age': 'mean',
        'Total Population': 'sum'
    }).reset_index()
    
    # Add 'Country Name' and 'Region' columns to the aggregated combined_data
    aggregated_data['Country Name'] = target_name
    aggregated_data['Region'] = target_region
    
    # Separate the rest of the combined_data excluding the target name with 'Various' or continent regions
    other_data = combined_data[~((combined_data['Country Name'] == target_name) & (combined_data['Region'].isin(['Various'] + continents)))]
    
    # Combine the aggregated combined_data with the rest of the dataframe
    combined_data = pd.concat([other_data, aggregated_data], ignore_index=True)
    
    return combined_data

# List of countries to merge
countries_to_merge = [
    {'target_name': 'Vietnam', 'similar_names': ['Viet Nam'], 'target_region': 'Asia'},
    {'target_name': 'Cape Verde', 'similar_names': ['Cabo Verde'], 'target_region': 'Africa'},
    {'target_name': 'Saint Kitts and Nevis', 'similar_names': ['St. Kitts and Nevis'], 'target_region': 'North America'},
    {'target_name': 'Saint Lucia', 'similar_names': ['St. Lucia'], 'target_region': 'North America'},
    {'target_name': 'Saint Martin (French part)', 'similar_names': ['St. Martin (French part)'], 'target_region': 'North America'},
    {'target_name': 'Saint Vincent and the Grenadines', 'similar_names': ['St. Vincent and the Grenadines'], 'target_region': 'North America'},
    {'target_name': 'Venezuela', 'similar_names': ['Venezuela, RB'], 'target_region': 'South America'},
    {'target_name': 'Yemen', 'similar_names': ['Yemen, Rep.'], 'target_region': 'Asia'},
    {'target_name': 'Brunei', 'similar_names': ['Brunei Darussalam'], 'target_region': 'Asia'},
    {'target_name': 'Curaçao', 'similar_names': ['Curacao'], 'target_region': 'South America'},
    {'target_name': 'Czech Republic', 'similar_names': ['Czechia'], 'target_region': 'European Union'},
    {'target_name': 'Congo, The Democratic Republic of the', 'similar_names': ['Democratic Republic of Congo', 'Congo, Dem. Rep.'], 'target_region': 'Africa'},
    {'target_name': 'Congo', 'similar_names': ['Congo, Rep.'], 'target_region': 'Africa'},
    {'target_name': 'Cook Islands', 'similar_names': ['Cook Islands'], 'target_region': 'Oceania'},
    {'target_name': 'Aruba', 'similar_names': ['Aruba'], 'target_region': 'South America'},
    {'target_name': 'Syria', 'similar_names': ['Syrian Arab Republic'], 'target_region': 'Asia'},
    {'target_name': 'Russia', 'similar_names': ['Russian Federation'], 'target_region': 'Asia'},
    {'target_name': 'South Korea', 'similar_names': ['Korea, Rep.'], 'target_region': 'Asia'},
    {'target_name': 'North Korea', 'similar_names': ['Korea, Dem. People’s Rep.'], 'target_region': 'Asia'},
    {'target_name': 'Iran', 'similar_names': ['Iran, Islamic Rep.'], 'target_region': 'Asia'},
    {'target_name': 'Laos', 'similar_names': ['Lao PDR'], 'target_region': 'Asia'},
    {'target_name': 'Myanmar', 'similar_names': ['Burma'], 'target_region': 'Asia'},
    {'target_name': 'North Macedonia', 'similar_names': ['Macedonia'], 'target_region': 'Non-EU Europe'},
    {'target_name': 'Tanzania', 'similar_names': ['United Republic of Tanzania'], 'target_region': 'Africa'},
    {'target_name': 'Ivory Coast', 'similar_names': ['Côte d\'Ivoire'], 'target_region': 'Africa'},
    {'target_name': 'North Korea', 'similar_names': ["Korea, Dem. People's Rep."], 'target_region': 'Asia'},
    {'target_name': 'Bahamas', 'similar_names': ['Bahamas, The'], 'target_region': 'North America'},
    {'target_name': 'Jersey', 'similar_names': ['Channel Islands'], 'target_region': 'Non-EU Europe'},
    {'target_name': 'British Virgin Islands', 'similar_names': ['United States Virgin Islands', 'Virgin Islands (U.S.)'], 'target_region': 'North America'},
    {'target_name': 'Egypt', 'similar_names': ['Egypt, Arab Rep.'], 'target_region': 'Africa'},
    {'target_name': 'Gambia', 'similar_names': ['Gambia, The'], 'target_region': 'Africa'},
    {'target_name': 'Hong Kong', 'similar_names': ['Hong Kong SAR, China'], 'target_region': 'Asia'},
    {'target_name': 'Macao', 'similar_names': ['Macao SAR, China'], 'target_region': 'Asia'},
    {'target_name': 'Turkey', 'similar_names': ['Turkiye'], 'target_region': 'Asia'},
    {'target_name': 'Timor-Leste', 'similar_names': ['East Timor'], 'target_region': 'Asia'},
    {'target_name': 'Micronesia', 'similar_names': ['Micronesia (country)', 'Micronesia, Fed. Sts.'], 'target_region': 'Oceania'},
    {'target_name': 'Slovakia', 'similar_names': ['Slovak Republic'], 'target_region': 'European Union'},
    {'target_name': 'Kyrgyzstan', 'similar_names': ['Kyrgyz Republic'], 'target_region': 'Asia'},
    
    # Add more countries as needed
]

# Apply the merging function for each country in the list
for country in countries_to_merge:
    combined_data = merge_similar_names(combined_data, country['target_name'], country['similar_names'], country['target_region'])


combined_data.tail()

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
13309,Kyrgyzstan,2017,47.51968,38.29963,83.38251,82.93139,90.741003,91.297901,3.00,5.4,1242.77,2.11,23.4,6198200.0,Asia
13310,Kyrgyzstan,2018,46.73536,36.00659,84.64377,84.12084,89.277466,89.984567,3.30,5.2,1308.14,2.14,23.5,6322800.0,Asia
13311,Kyrgyzstan,2019,47.44449,37.38893,84.64377,84.12084,89.277466,89.984567,3.30,5.2,1451.52,2.08,23.6,6456200.0,Asia
13312,Kyrgyzstan,2020,51.72928,41.36852,84.64377,84.12084,89.277466,89.984567,3.00,6.1,1256.93,1.86,23.6,6579900.0,Asia
13313,Kyrgyzstan,2021,59.41218,47.73265,84.64377,84.12084,89.277466,89.984567,2.89,5.8,1365.51,1.79,23.7,6773400.0,Asia

In [10]:
excluded_regions = ['World', 'Various']
filtered_data = combined_data[~combined_data['Region'].isin(excluded_regions)]
unique_country_count = filtered_data['Country Name'].nunique()

unique_country_count

231

In [11]:
# Filter out the entries from the "Various" region
combined_data_no_various = combined_data[combined_data['Region'] != 'Various']
combined_data_no_various.isna().sum()

Country Name                  0
Year                          0
Tertiary Enrolment (F)     1050
Tertiary Enrolment (M)     1050
Secondary Enrolment (M)    1050
Secondary Enrolment (F)    1050
Primary Enrolment (F)      1050
Primary Enrolment (M)      1050
Birth Rate                 1010
Death Rate                 1008
GDP per Capita             1842
Natural Growth Rate           0
Median Age                    0
Total Population            630
Region                        0
dtype: int64

In [12]:
# List of countries to drop
countries_to_drop = [
    "French Guiana", "Guadeloupe", "Guernsey", "Martinique", "Mayotte", 
    "Montserrat", "Niue", "Saint Pierre and Miquelon", "Tokelau", 
    "Western Sahara", "Cook Islands", "Wallis and Futuna" 
]

# Drop the specified countries
combined_data_no_various_dropped_small = combined_data_no_various[~combined_data_no_various['Country Name'].isin(countries_to_drop)]
combined_data_no_various_dropped_small.nunique()

Country Name                220
Year                         42
Tertiary Enrolment (F)     6269
Tertiary Enrolment (M)     6296
Secondary Enrolment (M)    5361
Secondary Enrolment (F)    5334
Primary Enrolment (F)      5423
Primary Enrolment (M)      5437
Birth Rate                  749
Death Rate                 1781
GDP per Capita             7535
Natural Growth Rate         546
Median Age                  397
Total Population           9057
Region                        8
dtype: int64

In [13]:
#save the data cleanly in cleaned file
combined_data_no_various_dropped_small.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned.csv',index=False, encoding='utf-8')

In [14]:
#Filling missing values using other Dataframes as a reference.
url_worldbank_gdp = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/Gdppercapita worldbank + imf/gdp per capita.csv')
url_imf_gpd = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/Gdppercapita worldbank + imf/imf-dm-export-20240530.csv')
megammerge_file_path = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned.csv')

csv_data_new = pd.read_csv(url_worldbank_gdp)
csv_data_imf = pd.read_csv(url_imf_gpd)
megammerge_data = pd.read_csv(megammerge_file_path)

In [15]:
# Convert year columns in csv_data_new and csv_data_imf to numeric, replacing errors with NaN
for year in range(1980, 2022):
    csv_data_new[str(year)] = pd.to_numeric(csv_data_new[str(year)], errors='coerce')
    csv_data_imf[str(year)] = pd.to_numeric(csv_data_imf[str(year)], errors='coerce')

# Create a dictionary for easy access to GDP data from csv_data_new and csv_data_imf
def create_gdp_dict(data, country_col, start_year_col):
    gdp_dict = {}
    for index, row in data.iterrows():
        country = row[country_col]
        if country not in gdp_dict:
            gdp_dict[country] = {}
        for year in range(1980, 2022):
            if str(year) in row and pd.notna(row[str(year)]):
                gdp_dict[country][year] = row[str(year)]
    return gdp_dict

gdp_dict_csv_new = create_gdp_dict(csv_data_new, 'Country Name', '1980')
gdp_dict_imf = create_gdp_dict(csv_data_imf, 'GDP per capita, current prices (Purchasing power parity; international dollars per capita)', '1980')

# Fill missing GDP per Capita in MEGAMERGE_cleaned using data from both sources
for index, row in megammerge_data.iterrows():
    country = row['Country Name']
    year = int(row['Year'])
    if pd.isna(row['GDP per Capita']):
        gdp_values = []
        if country in gdp_dict_csv_new and year in gdp_dict_csv_new[country]:
            gdp_values.append(gdp_dict_csv_new[country][year])
        if country in gdp_dict_imf and year in gdp_dict_imf[country]:
            gdp_values.append(gdp_dict_imf[country][year])
        if gdp_values:
            megammerge_data.at[index, 'GDP per Capita'] = sum(gdp_values) / len(gdp_values)

In [16]:
# Fill missing GDP per Capita for 'Virgin Islands, British' using data from 'Virgin Islands (U.S.)'
reference_country = 'Virgin Islands (U.S.)'
target_country = 'Virgin Islands, British'

# Extract GDP data for the reference country
gdp_reference = {}
for index, row in csv_data_new.iterrows():
    if row['Country Name'] == reference_country:
        for year in range(1980, 2022):
            if pd.notna(row[str(year)]):
                gdp_reference[year] = row[str(year)]

for index, row in csv_data_imf.iterrows():
    if row['GDP per capita, current prices (Purchasing power parity; international dollars per capita)'] == reference_country:
        for year in range(1980, 2022):
            if pd.notna(row[str(year)]):
                gdp_reference[year] = row[str(year)]

# Fill missing values in MEGAMERGE_cleaned for the target country
for index, row in megammerge_data.iterrows():
    country = row['Country Name']
    year = int(row['Year'])
    if country == target_country and pd.isna(row['GDP per Capita']) and year in gdp_reference:
        megammerge_data.at[index, 'GDP per Capita'] = gdp_reference[year]

In [17]:
megammerge_data.isna().sum()

Country Name                 0
Year                         0
Tertiary Enrolment (F)     546
Tertiary Enrolment (M)     546
Secondary Enrolment (M)    546
Secondary Enrolment (F)    546
Primary Enrolment (F)      546
Primary Enrolment (M)      546
Birth Rate                 506
Death Rate                 504
GDP per Capita             925
Natural Growth Rate          0
Median Age                   0
Total Population           168
Region                       0
dtype: int64

In [18]:
# Define a function to create a complete set of years for interpolation
def complete_years(df, start_year, end_year):
    idx = pd.MultiIndex.from_product([df['Country Name'].unique(), range(start_year, end_year+1)], names=['Country Name', 'Year'])
    df = df.set_index(['Country Name', 'Year']).reindex(idx).reset_index()
    return df

# Apply the function to the filtered data
complete_data = complete_years(megammerge_data, 1980, 2021)

In [19]:
interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
filled_data = interpolated_data_complete.groupby('Country Name').apply(lambda x: x.sort_values('Year').fillna(method='ffill').fillna(method='bfill')).reset_index(drop=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_data_complete = complete_data.groupby('Country Name', group_keys=True).apply(lambda x: x.sort_values('Year').interpolate(method='linear')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3376950692.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.

In [20]:
interpolated_data_complete.isna().sum()

Country Name                 0
Year                         0
Tertiary Enrolment (F)     546
Tertiary Enrolment (M)     546
Secondary Enrolment (M)    546
Secondary Enrolment (F)    546
Primary Enrolment (F)      546
Primary Enrolment (M)      546
Birth Rate                 506
Death Rate                 504
GDP per Capita             874
Natural Growth Rate          0
Median Age                   0
Total Population           168
Region                       0
dtype: int64

In [21]:
filtered_df = merged_df[merged_df['Country Name'] == 'China']

In [22]:
filtered_df

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
2310,China,1980,0.500000,2.030000,55.110000,36.260000,82.220000,78.780000,2.74,6.34,312.02,1.47,20.8,9.812350e+08,Asia
2311,China,1981,0.640961,2.219821,41.477422,32.447987,83.168830,81.325121,2.79,6.36,291.36,1.54,21.0,9.938850e+08,Asia
2312,China,1982,0.781921,2.409641,42.131662,33.516429,84.117660,83.870243,2.97,6.60,281.50,1.69,21.1,1.008630e+09,Asia
2313,China,1983,0.922882,2.599462,42.785902,34.584871,85.066490,86.415364,2.56,6.90,297.81,1.40,21.1,1.023310e+09,Asia
2314,China,1984,1.063843,2.789283,43.440142,35.653313,86.015320,88.960486,2.61,6.82,302.59,1.49,21.3,1.036825e+09,Asia
2315,China,1985,1.204804,2.979104,46.352287,39.342209,86.964150,91.505607,2.63,6.78,294.79,1.57,21.7,1.051040e+09,Asia
2316,China,1986,1.345764,3.168924,47.139284,40.528096,87.912980,94.050729,2.72,6.86,281.70,1.72,22.1,1.066790e+09,Asia
2317,China,1987,1.486725,3.358745,47.477936,41.286927,88.861810,96.595850,2.76,6.72,301.73,1.81,22.5,1.084035e+09,Asia
2318,China,1988,1.627686,3.548566,47.907474,42.172798,90.651945,98.105025,2.54,6.64,370.22,1.67,22.9,1.101630e+09,Asia
2319,China,1989,1.768646,3.738386,48.375144,43.072016,92.442080,99.614200,2.52,6.54,407.89,1.70,23.3,1.118650e+09,Asia
2320,China,1990,1.909607,3.928207,48.868917,44.303295,93.134685,99.631255,2.51,6.67,347.58,1.75,23.7,1.135185e+09,Asia
2321,China,1991,2.050568,4.118028,50.260610,46.437448,93.827290,99.648310,1.93,6.70,359.21,1.26,24.1,1.150780e+09,Asia
2322,China,1992,2.191529,4.307849,49.554844,45.970969,93.153140,98.427730,1.78,6.64,423.30,1.12,24.5,1.164970e+09,Asia
2323,China,1993,2.332489,4.497669,50.820262,47.356767,92.241110,97.078960,1.69,6.64,525.37,1.04,25.0,1.178440e+09,Asia
2324,China,1994,2.473450,4.687490,52.663511,49.735867,90.893060,95.188260,1.63,6.49,473.49,0.97,25.5,1.191835e+09,Asia
2325,China,1995,3.748343,6.041551,53.986388,51.928660,89.553090,92.942380,1.59,6.57,609.60,0.92,26.1,1.204855e+09,Asia
2326,China,1996,5.023237,7.395612,55.616718,53.970157,88.679780,91.322850,1.55,6.56,709.42,0.84,26.6,1.217550e+09,Asia
2327,China,1997,6.298130,8.749673,55.973080,54.490063,88.370600,90.264220,1.53,6.51,781.74,0.79,27.2,1.230075e+09,Asia
2328,China,1998,7.573023,10.103734,55.824300,54.244588,82.638329,87.792253,1.52,6.50,828.59,0.74,27.8,1.241935e+09,Asia
2329,China,1999,8.847917,11.457796,56.942107,55.497581,83.528562,88.007933,1.53,6.46,873.30,0.70,28.3,1.252735e+09,Asia
2330,China,2000,10.122810,12.811857,59.563118,58.238723,84.715988,88.626107,1.63,6.45,959.36,0.75,28.9,1.262645e+09,Asia
2331,China,2001,11.397703,14.165918,61.017357,59.801116,85.248668,88.740121,1.56,6.43,1053.11,0.69,29.5,1.271850e+09,Asia
2332,China,2002,12.672597,15.519979,62.237816,61.094340,85.964226,89.071632,1.57,6.41,1148.51,0.67,30.1,1.280400e+09,Asia
2333,China,2003,13.947490,16.874040,64.767174,63.352729,86.572136,89.131444,1.57,6.40,1288.64,0.65,30.6,1.288400e+09,Asia
2334,China,2004,16.584450,18.735770,66.854272,65.197299,87.344310,89.734064,1.60,6.42,1508.67,0.66,31.2,1.296075e+09,Asia
2335,China,2005,18.088540,20.028290,67.371843,65.996840,87.824802,89.694854,1.62,6.51,1753.41,0.66,31.7,1.303720e+09,Asia
2336,China,2006,19.621750,20.781710,67.964903,67.112615,88.306263,89.769428,1.64,6.81,2099.22,0.67,32.3,1.311020e+09,Asia
2337,China,2007,20.283640,20.744530,69.381761,68.268233,88.910335,90.110542,1.67,6.93,2693.96,0.68,32.8,1.317885e+09,Asia
2338,China,2008,20.856340,20.522630,69.502707,68.733767,89.124847,89.869519,1.70,7.06,3468.33,0.69,33.2,1.324655e+09,Asia
2339,China,2009,22.875810,22.038630,71.001888,70.596241,89.647640,90.341473,1.71,7.08,3832.23,0.71,33.7,1.331260e+09,Asia
2340,China,2010,24.956070,23.493710,72.181195,71.757950,89.954334,90.640814,1.69,7.11,4550.47,0.68,34.1,1.337705e+09,Asia
2341,China,2011,26.783270,24.598310,72.439687,72.199756,90.311712,90.804928,1.67,7.14,5614.39,0.66,34.5,1.345035e+09,Asia
2342,China,2012,30.260180,27.319080,71.944182,72.251222,90.497406,91.301636,1.80,7.13,6300.58,0.75,34.8,1.354190e+09,Asia
2343,China,2013,34.558950,30.503210,72.195596,72.435563,90.404570,91.101512,1.71,7.13,7020.39,0.66,35.1,1.363240e+09,Asia
2344,China,2014,45.756970,39.434110,73.838652,74.403690,91.797896,92.702221,1.77,7.12,7636.07,0.68,35.3,1.371860e+09,Asia
2345,China,2015,50.178660,42.337610,74.605768,75.201666,91.495755,92.243896,1.67,7.07,8016.45,0.57,35.6,1.379860e+09,Asia
2346,China,2016,52.741700,43.812560,75.925908,76.131527,91.146023,92.092044,1.77,7.04,8094.39,0.62,35.9,1.387790e+09,Asia
2347,China,2017,53.979150,44.715660,77.766098,78.494908,90.741003,91.297901,1.81,7.06,8817.05,0.60,36.2,1.396215e+09,Asia
2348,China,2018,55.881220,45.928420,75.100878,76.509042,89.277466,89.984567,1.55,7.08,9905.41,0.40,36.6,1.402760e+09,Asia
2349,China,2019,59.469920,48.724920,75.194134,76.597178,89.277466,89.984567,1.50,7.09,10143.86,0.32,37.0,1.407745e+09,Asia
2350,China,2020,63.927010,53.572050,75.194134,76.597178,89.277466,89.984567,1.28,7.07,10408.72,0.13,37.4,1.411100e+09,Asia
2351,China,2021,68.993290,58.873670,75.194134,76.597178,89.277466,89.984567,1.16,7.18,12617.51,0.02,37.9,1.412360e+09,Asia

In [23]:
filled_data

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.520000,11.000000,46.060000,7.59,24.21,291.649791,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.520303,2.150378,14.289395,3.848606,11.207511,45.501156,7.57,23.61,311.853617,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.540607,2.440757,14.818789,4.177212,11.415022,44.942312,7.55,25.62,326.366231,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.560910,2.731135,15.348184,4.505818,11.622532,44.383468,7.54,25.11,340.878846,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.581213,3.021513,15.877578,4.834425,11.830043,43.824625,7.51,30.03,355.391460,2.02,15.5,10243686.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Zimbabwe,2017,9.689270,8.005960,44.785263,44.945318,79.964715,80.780638,3.71,8.27,1192.110000,2.42,17.3,14751101.0,Africa
9236,Zimbabwe,2018,9.689270,8.005960,48.050756,48.819893,81.027363,81.907439,3.66,7.97,2269.180000,2.41,17.5,15052184.0,Africa
9237,Zimbabwe,2019,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.60,8.04,1421.870000,2.35,17.7,15354608.0,Africa
9238,Zimbabwe,2020,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.54,8.13,1372.700000,2.29,17.9,15669666.0,Africa
9239,Zimbabwe,2021,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.49,9.06,1773.920000,2.15,18.1,15993524.0,Africa

In [24]:
#save the data cleanly in cleaned file
filled_data.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned_filled_gdp.csv',index=False)

In [25]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned_filled_gdp.csv')
url2 = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/population.csv')
# Load the provided CSV files
population_df = pd.read_csv(url2)
megamerge_df = pd.read_csv(url)

In [26]:
population_df

            Entity Code   Year  Population (historical estimates)
0      Afghanistan  AFG -10000                              14737
1      Afghanistan  AFG  -9000                              20405
2      Afghanistan  AFG  -8000                              28253
3      Afghanistan  AFG  -7000                              39120
4      Afghanistan  AFG  -6000                              54166
...            ...  ...    ...                                ...
58247     Zimbabwe  ZWE   2017                           14751101
58248     Zimbabwe  ZWE   2018                           15052191
58249     Zimbabwe  ZWE   2019                           15354606
58250     Zimbabwe  ZWE   2020                           15669663
58251     Zimbabwe  ZWE   2021                           15993525

[58252 rows x 4 columns]

In [27]:
megamerge_df

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.520000,11.000000,46.060000,7.59,24.21,291.649791,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.520303,2.150378,14.289395,3.848606,11.207511,45.501156,7.57,23.61,311.853617,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.540607,2.440757,14.818789,4.177212,11.415022,44.942312,7.55,25.62,326.366231,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.560910,2.731135,15.348184,4.505818,11.622532,44.383468,7.54,25.11,340.878846,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.581213,3.021513,15.877578,4.834425,11.830043,43.824625,7.51,30.03,355.391460,2.02,15.5,10243686.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Zimbabwe,2017,9.689270,8.005960,44.785263,44.945318,79.964715,80.780638,3.71,8.27,1192.110000,2.42,17.3,14751101.0,Africa
9236,Zimbabwe,2018,9.689270,8.005960,48.050756,48.819893,81.027363,81.907439,3.66,7.97,2269.180000,2.41,17.5,15052184.0,Africa
9237,Zimbabwe,2019,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.60,8.04,1421.870000,2.35,17.7,15354608.0,Africa
9238,Zimbabwe,2020,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.54,8.13,1372.700000,2.29,17.9,15669666.0,Africa
9239,Zimbabwe,2021,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.49,9.06,1773.920000,2.15,18.1,15993524.0,Africa

In [28]:
# Check for the missing countries in the megamerge_df
missing_countries = ['Anguilla', 'Palestine', 'Taiwan', 'Vatican']

# Filter the megamerge_df for these countries to identify the missing entries
missing_entries_megamerge = megamerge_df[megamerge_df['Country Name'].isin(missing_countries)]

# Filter the population_df for these countries to get the population data
population_entries = population_df[population_df['Entity'].isin(missing_countries)]

# Display the filtered dataframes
missing_entries_megamerge, population_entries

(     Country Name  Year  Tertiary Enrolment (F)  Tertiary Enrolment (M)  \
 252      Anguilla  1980                     NaN                     NaN
 253      Anguilla  1981                     NaN                     NaN
 254      Anguilla  1982                     NaN                     NaN
 255      Anguilla  1983                     NaN                     NaN
 256      Anguilla  1984                     NaN                     NaN
 ...           ...   ...                     ...                     ...
 8983      Vatican  2017                     NaN                     NaN
 8984      Vatican  2018                     NaN                     NaN
 8985      Vatican  2019                     NaN                     NaN
 8986      Vatican  2020                     NaN                     NaN
 8987      Vatican  2021                     NaN                     NaN

       Secondary Enrolment (M)  Secondary Enrolment (F)  Primary Enrolment (F)  \
 252                       NaN                      NaN                    NaN
 253                       NaN                      NaN                    NaN
 254                       NaN                      NaN                    NaN
 255                       NaN                      NaN                    NaN
 256                       NaN                      NaN                    NaN
 ...                       ...                      ...                    ...
 8983                      NaN                      NaN                    NaN
 8984                      NaN                      NaN                    NaN
 8985                      NaN                      NaN                    NaN
 8986                      NaN                      NaN                    NaN
 8987                      NaN                      NaN                    NaN

       Primary Enrolment (M)  Birth Rate  Death Rate  GDP per Capita  \
 252                     NaN         NaN         NaN             NaN
 253                     NaN         NaN         NaN             NaN
 254                     NaN         NaN         NaN             NaN
 255                     NaN         NaN         NaN             NaN
 256                     NaN         NaN         NaN             NaN
 ...                     ...         ...         ...             ...
 8983                    NaN         NaN         NaN             NaN
 8984                    NaN         NaN         NaN             NaN
 8985                    NaN         NaN         NaN             NaN
 8986                    NaN         NaN         NaN             NaN
 8987                    NaN         NaN         NaN             NaN

       Natural Growth Rate  Median Age  Total Population         Region
 252                  1.78        19.5               NaN  North America
 253                  1.72        20.0               NaN  North America
 254                  1.63        20.3               NaN  North America
 255                  1.52        20.7               NaN  North America
 256                  1.37        21.0               NaN  North America
 ...                   ...         ...               ...            ...
 8983                -1.44        56.9               NaN  Non-EU Europe
 8984                -1.41        57.1               NaN  Non-EU Europe
 8985                -1.42        57.2               NaN  Non-EU Europe
 8986                -1.60        57.5               NaN  Non-EU Europe
 8987                -1.78        57.7               NaN  Non-EU Europe

 [168 rows x 15 columns],
          Entity Code   Year  Population (historical estimates)
 1743   Anguilla  AIA -10000                                  0
 1744   Anguilla  AIA  -9000                                  0
 1745   Anguilla  AIA  -8000                                  0
 1746   Anguilla  AIA  -7000                                  1
 1747   Anguilla  AIA  -6000                                  3
 ...         ...  ...    ...                                ...
 56371   Vatican  VAT   1996                                792
 56372   Vatican  VAT   1997                                803
 56373   Vatican  VAT   1998                                809
 56374   Vatican  VAT   1999                                803
 56375   Vatican  VAT   2000                                779

 [806 rows x 4 columns])

In [29]:
# Merge the missing population data into megamerge_df based on country and year
for country in missing_countries:
    # Filter the population entries for the specific country
    country_population = population_entries[population_entries['Entity'] == country]
    
    # Iterate over the rows in megamerge_df for this country and year
    for index, row in megamerge_df[megamerge_df['Country Name'] == country].iterrows():
        year = row['Year']
        
        # Find the population for the corresponding year
        population = country_population[country_population['Year'] == year]['Population (historical estimates)']
        
        if not population.empty:
            # Update the Total Population column in megamerge_df
            megamerge_df.at[index, 'Total Population'] = population.values[0]

# Display the updated rows for verification
updated_megamerge_df = megamerge_df[megamerge_df['Country Name'].isin(missing_countries)]

In [30]:
print(updated_megamerge_df)

     Country Name  Year  Tertiary Enrolment (F)  Tertiary Enrolment (M)  \
252      Anguilla  1980                     NaN                     NaN
253      Anguilla  1981                     NaN                     NaN
254      Anguilla  1982                     NaN                     NaN
255      Anguilla  1983                     NaN                     NaN
256      Anguilla  1984                     NaN                     NaN
...           ...   ...                     ...                     ...
8983      Vatican  2017                     NaN                     NaN
8984      Vatican  2018                     NaN                     NaN
8985      Vatican  2019                     NaN                     NaN
8986      Vatican  2020                     NaN                     NaN
8987      Vatican  2021                     NaN                     NaN

      Secondary Enrolment (M)  Secondary Enrolment (F)  Primary Enrolment (F)  \
252                       NaN                      NaN                    NaN
253                       NaN                      NaN                    NaN
254                       NaN                      NaN                    NaN
255                       NaN                      NaN                    NaN
256                       NaN                      NaN                    NaN
...                       ...                      ...                    ...
8983                      NaN                      NaN                    NaN
8984                      NaN                      NaN                    NaN
8985                      NaN                      NaN                    NaN
8986                      NaN                      NaN                    NaN
8987                      NaN                      NaN                    NaN

      Primary Enrolment (M)  Birth Rate  Death Rate  GDP per Capita  \
252                     NaN         NaN         NaN             NaN
253                     NaN         NaN         NaN             NaN
254                     NaN         NaN         NaN             NaN
255                     NaN         NaN         NaN             NaN
256                     NaN         NaN         NaN             NaN
...                     ...         ...         ...             ...
8983                    NaN         NaN         NaN             NaN
8984                    NaN         NaN         NaN             NaN
8985                    NaN         NaN         NaN             NaN
8986                    NaN         NaN         NaN             NaN
8987                    NaN         NaN         NaN             NaN

      Natural Growth Rate  Median Age  Total Population         Region
252                  1.78        19.5            6583.0  North America
253                  1.72        20.0            6596.0  North America
254                  1.63        20.3            6608.0  North America
255                  1.52        20.7            6627.0  North America
256                  1.37        21.0            6717.0  North America
...                   ...         ...               ...            ...
8983                -1.44        56.9               NaN  Non-EU Europe
8984                -1.41        57.1               NaN  Non-EU Europe
8985                -1.42        57.2               NaN  Non-EU Europe
8986                -1.60        57.5               NaN  Non-EU Europe
8987                -1.78        57.7               NaN  Non-EU Europe

[168 rows x 15 columns]

In [31]:
megamerge_df = megamerge_df.groupby('Country Name').apply(lambda x: x.sort_values('Year').fillna(method='ffill').fillna(method='bfill')).reset_index(drop=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3769193646.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  megamerge_df = megamerge_df.groupby('Country Name').apply(lambda x: x.sort_values('Year').fillna(method='ffill').fillna(method='bfill')).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_65332/3769193646.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  megamerge_df = megamerge_df.groupby('Country Name').apply(lambda x: x.sort_values('Year').fillna(method='ffill').fillna(method='bfill')).reset_index(drop=True)

In [32]:
megamerge_df.isna().sum()

Country Name                 0
Year                         0
Tertiary Enrolment (F)     546
Tertiary Enrolment (M)     546
Secondary Enrolment (M)    546
Secondary Enrolment (F)    546
Primary Enrolment (F)      546
Primary Enrolment (M)      546
Birth Rate                 504
Death Rate                 504
GDP per Capita             420
Natural Growth Rate          0
Median Age                   0
Total Population             0
Region                       0
dtype: int64

In [33]:
#save the data cleanly in cleaned file
megamerge_df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned_filled_gdp.csv',index=False)

In [34]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_cleaned_filled_gdp.csv')
megadf = pd.read_csv(url)

In [35]:
megadf

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.520000,11.000000,46.060000,7.59,24.21,291.649791,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.520303,2.150378,14.289395,3.848606,11.207511,45.501156,7.57,23.61,311.853617,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.540607,2.440757,14.818789,4.177212,11.415022,44.942312,7.55,25.62,326.366231,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.560910,2.731135,15.348184,4.505818,11.622532,44.383468,7.54,25.11,340.878846,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.581213,3.021513,15.877578,4.834425,11.830043,43.824625,7.51,30.03,355.391460,2.02,15.5,10243686.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Zimbabwe,2017,9.689270,8.005960,44.785263,44.945318,79.964715,80.780638,3.71,8.27,1192.110000,2.42,17.3,14751101.0,Africa
9236,Zimbabwe,2018,9.689270,8.005960,48.050756,48.819893,81.027363,81.907439,3.66,7.97,2269.180000,2.41,17.5,15052184.0,Africa
9237,Zimbabwe,2019,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.60,8.04,1421.870000,2.35,17.7,15354608.0,Africa
9238,Zimbabwe,2020,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.54,8.13,1372.700000,2.29,17.9,15669666.0,Africa
9239,Zimbabwe,2021,9.689270,8.005960,47.994260,48.774957,81.365767,82.355009,3.49,9.06,1773.920000,2.15,18.1,15993524.0,Africa

In [36]:
megadf.isna().sum()

Country Name                 0
Year                         0
Tertiary Enrolment (F)     546
Tertiary Enrolment (M)     546
Secondary Enrolment (M)    546
Secondary Enrolment (F)    546
Primary Enrolment (F)      546
Primary Enrolment (M)      546
Birth Rate                 504
Death Rate                 504
GDP per Capita             420
Natural Growth Rate          0
Median Age                   0
Total Population             0
Region                       0
dtype: int64

In [37]:
# Function to fill missing values with the mean of the region for that specific year
def fill_missing_with_region_mean(df):
    # List of columns to fill missing values
    columns_to_fill = [
        'Tertiary Enrolment (F)', 'Tertiary Enrolment (M)', 
        'Secondary Enrolment (M)', 'Secondary Enrolment (F)', 
        'Primary Enrolment (F)', 'Primary Enrolment (M)', 
        'Birth Rate', 'Death Rate', 'GDP per Capita', 
        'Natural Growth Rate', 'Median Age', 'Total Population'
    ]
    
    # Iterate over each year and region
    for year in df['Year'].unique():
        for region in df['Region'].unique():
            region_year_data = df[(df['Year'] == year) & (df['Region'] == region)]
            if not region_year_data.empty:
                # Calculate the mean for each column
                region_year_means = region_year_data[columns_to_fill].mean()
                # Fill missing values with the mean
                for column in columns_to_fill:
                    df.loc[(df['Year'] == year) & (df['Region'] == region), column] = \
                        df.loc[(df['Year'] == year) & (df['Region'] == region), column].fillna(region_year_means[column])
    
    return df

# Fill the missing values in megamerge_df
filled_megamerge_df = fill_missing_with_region_mean(megadf)

filled_megamerge_df.head()

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.520000,11.000000,46.060000,7.59,24.21,291.649791,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.520303,2.150378,14.289395,3.848606,11.207511,45.501156,7.57,23.61,311.853617,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.540607,2.440757,14.818789,4.177212,11.415022,44.942312,7.55,25.62,326.366231,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.560910,2.731135,15.348184,4.505818,11.622532,44.383468,7.54,25.11,340.878846,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.581213,3.021513,15.877578,4.834425,11.830043,43.824625,7.51,30.03,355.391460,2.02,15.5,10243686.0,Asia

In [38]:
filled_megamerge_df.isna().sum()

Country Name               0
Year                       0
Tertiary Enrolment (F)     0
Tertiary Enrolment (M)     0
Secondary Enrolment (M)    0
Secondary Enrolment (F)    0
Primary Enrolment (F)      0
Primary Enrolment (M)      0
Birth Rate                 0
Death Rate                 0
GDP per Capita             0
Natural Growth Rate        0
Median Age                 0
Total Population           0
Region                     0
dtype: int64

In [39]:
filtered_df_china = filled_megamerge_df[filled_megamerge_df['Country Name'] == 'China']
filtered_df_china

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
1722,China,1980,0.500000,2.030000,55.110000,36.260000,82.220000,78.780000,2.74,6.34,312.02,1.47,20.8,9.812350e+08,Asia
1723,China,1981,0.640961,2.219821,41.477422,32.447987,83.168830,81.325121,2.79,6.36,291.36,1.54,21.0,9.938850e+08,Asia
1724,China,1982,0.781921,2.409641,42.131662,33.516429,84.117660,83.870243,2.97,6.60,281.50,1.69,21.1,1.008630e+09,Asia
1725,China,1983,0.922882,2.599462,42.785902,34.584871,85.066490,86.415364,2.56,6.90,297.81,1.40,21.1,1.023310e+09,Asia
1726,China,1984,1.063843,2.789283,43.440142,35.653313,86.015320,88.960486,2.61,6.82,302.59,1.49,21.3,1.036825e+09,Asia
1727,China,1985,1.204804,2.979104,46.352287,39.342209,86.964150,91.505607,2.63,6.78,294.79,1.57,21.7,1.051040e+09,Asia
1728,China,1986,1.345764,3.168924,47.139284,40.528096,87.912980,94.050729,2.72,6.86,281.70,1.72,22.1,1.066790e+09,Asia
1729,China,1987,1.486725,3.358745,47.477936,41.286927,88.861810,96.595850,2.76,6.72,301.73,1.81,22.5,1.084035e+09,Asia
1730,China,1988,1.627686,3.548566,47.907474,42.172798,90.651945,98.105025,2.54,6.64,370.22,1.67,22.9,1.101630e+09,Asia
1731,China,1989,1.768646,3.738386,48.375144,43.072016,92.442080,99.614200,2.52,6.54,407.89,1.70,23.3,1.118650e+09,Asia
1732,China,1990,1.909607,3.928207,48.868917,44.303295,93.134685,99.631255,2.51,6.67,347.58,1.75,23.7,1.135185e+09,Asia
1733,China,1991,2.050568,4.118028,50.260610,46.437448,93.827290,99.648310,1.93,6.70,359.21,1.26,24.1,1.150780e+09,Asia
1734,China,1992,2.191529,4.307849,49.554844,45.970969,93.153140,98.427730,1.78,6.64,423.30,1.12,24.5,1.164970e+09,Asia
1735,China,1993,2.332489,4.497669,50.820262,47.356767,92.241110,97.078960,1.69,6.64,525.37,1.04,25.0,1.178440e+09,Asia
1736,China,1994,2.473450,4.687490,52.663511,49.735867,90.893060,95.188260,1.63,6.49,473.49,0.97,25.5,1.191835e+09,Asia
1737,China,1995,3.748343,6.041551,53.986388,51.928660,89.553090,92.942380,1.59,6.57,609.60,0.92,26.1,1.204855e+09,Asia
1738,China,1996,5.023237,7.395612,55.616718,53.970157,88.679780,91.322850,1.55,6.56,709.42,0.84,26.6,1.217550e+09,Asia
1739,China,1997,6.298130,8.749673,55.973080,54.490063,88.370600,90.264220,1.53,6.51,781.74,0.79,27.2,1.230075e+09,Asia
1740,China,1998,7.573023,10.103734,55.824300,54.244588,82.638329,87.792253,1.52,6.50,828.59,0.74,27.8,1.241935e+09,Asia
1741,China,1999,8.847917,11.457796,56.942107,55.497581,83.528562,88.007933,1.53,6.46,873.30,0.70,28.3,1.252735e+09,Asia
1742,China,2000,10.122810,12.811857,59.563118,58.238723,84.715988,88.626107,1.63,6.45,959.36,0.75,28.9,1.262645e+09,Asia
1743,China,2001,11.397703,14.165918,61.017357,59.801116,85.248668,88.740121,1.56,6.43,1053.11,0.69,29.5,1.271850e+09,Asia
1744,China,2002,12.672597,15.519979,62.237816,61.094340,85.964226,89.071632,1.57,6.41,1148.51,0.67,30.1,1.280400e+09,Asia
1745,China,2003,13.947490,16.874040,64.767174,63.352729,86.572136,89.131444,1.57,6.40,1288.64,0.65,30.6,1.288400e+09,Asia
1746,China,2004,16.584450,18.735770,66.854272,65.197299,87.344310,89.734064,1.60,6.42,1508.67,0.66,31.2,1.296075e+09,Asia
1747,China,2005,18.088540,20.028290,67.371843,65.996840,87.824802,89.694854,1.62,6.51,1753.41,0.66,31.7,1.303720e+09,Asia
1748,China,2006,19.621750,20.781710,67.964903,67.112615,88.306263,89.769428,1.64,6.81,2099.22,0.67,32.3,1.311020e+09,Asia
1749,China,2007,20.283640,20.744530,69.381761,68.268233,88.910335,90.110542,1.67,6.93,2693.96,0.68,32.8,1.317885e+09,Asia
1750,China,2008,20.856340,20.522630,69.502707,68.733767,89.124847,89.869519,1.70,7.06,3468.33,0.69,33.2,1.324655e+09,Asia
1751,China,2009,22.875810,22.038630,71.001888,70.596241,89.647640,90.341473,1.71,7.08,3832.23,0.71,33.7,1.331260e+09,Asia
1752,China,2010,24.956070,23.493710,72.181195,71.757950,89.954334,90.640814,1.69,7.11,4550.47,0.68,34.1,1.337705e+09,Asia
1753,China,2011,26.783270,24.598310,72.439687,72.199756,90.311712,90.804928,1.67,7.14,5614.39,0.66,34.5,1.345035e+09,Asia
1754,China,2012,30.260180,27.319080,71.944182,72.251222,90.497406,91.301636,1.80,7.13,6300.58,0.75,34.8,1.354190e+09,Asia
1755,China,2013,34.558950,30.503210,72.195596,72.435563,90.404570,91.101512,1.71,7.13,7020.39,0.66,35.1,1.363240e+09,Asia
1756,China,2014,45.756970,39.434110,73.838652,74.403690,91.797896,92.702221,1.77,7.12,7636.07,0.68,35.3,1.371860e+09,Asia
1757,China,2015,50.178660,42.337610,74.605768,75.201666,91.495755,92.243896,1.67,7.07,8016.45,0.57,35.6,1.379860e+09,Asia
1758,China,2016,52.741700,43.812560,75.925908,76.131527,91.146023,92.092044,1.77,7.04,8094.39,0.62,35.9,1.387790e+09,Asia
1759,China,2017,53.979150,44.715660,77.766098,78.494908,90.741003,91.297901,1.81,7.06,8817.05,0.60,36.2,1.396215e+09,Asia
1760,China,2018,55.881220,45.928420,75.100878,76.509042,89.277466,89.984567,1.55,7.08,9905.41,0.40,36.6,1.402760e+09,Asia
1761,China,2019,59.469920,48.724920,75.194134,76.597178,89.277466,89.984567,1.50,7.09,10143.86,0.32,37.0,1.407745e+09,Asia
1762,China,2020,63.927010,53.572050,75.194134,76.597178,89.277466,89.984567,1.28,7.07,10408.72,0.13,37.4,1.411100e+09,Asia
1763,China,2021,68.993290,58.873670,75.194134,76.597178,89.277466,89.984567,1.16,7.18,12617.51,0.02,37.9,1.412360e+09,Asia

In [40]:
filtered_df_spain = filled_megamerge_df[filled_megamerge_df['Country Name'] == 'Spain']
filtered_df_spain

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
7770,Spain,1980,21.100000,27.220000,73.040000,75.000000,100.000000,99.990000,2.22,7.7,6208.58,0.76,29.8,37491165.0,European Union
7771,Spain,1981,22.010674,27.103812,73.717330,75.716268,99.832404,99.810191,2.04,7.8,5371.17,0.64,29.9,37758631.0,European Union
7772,Spain,1982,22.921348,26.987624,74.394660,76.432537,99.664807,99.630382,1.94,7.5,5159.71,0.60,30.1,37986012.0,European Union
7773,Spain,1983,23.832022,26.871436,75.071990,77.148805,99.497211,99.450574,1.80,7.9,4478.50,0.48,30.4,38171525.0,European Union
7774,Spain,1984,24.742696,26.755248,75.749320,77.865074,99.329615,99.270765,1.73,7.8,4489.99,0.46,30.6,38330364.0,European Union
7775,Spain,1985,25.653370,26.639060,76.426650,78.581342,99.162019,99.090956,1.64,8.1,4699.66,0.38,30.9,38469512.0,European Union
7776,Spain,1986,28.657270,28.473190,77.103980,79.297611,98.994422,98.911147,1.56,8.0,6513.50,0.34,31.2,38584624.0,European Union
7777,Spain,1987,30.226980,29.542140,77.781310,80.013879,98.826826,98.731339,1.49,8.0,8239.61,0.31,31.5,38684815.0,European Union
7778,Spain,1988,32.601610,30.947360,78.458640,80.730147,98.659230,98.551530,1.45,8.2,9703.12,0.26,31.8,38766939.0,European Union
7779,Spain,1989,34.452920,33.004150,79.135970,81.446416,99.351060,99.115590,1.40,8.4,10681.97,0.22,32.2,38827764.0,European Union
7780,Spain,1990,36.874010,34.299130,79.813300,82.162684,99.157130,99.284880,1.36,8.6,13804.88,0.18,32.6,38867322.0,European Union
7781,Spain,1991,38.663830,35.484560,80.490630,82.878953,99.480895,99.394165,1.33,8.7,14811.90,0.15,32.9,38966376.0,European Union
7782,Spain,1992,41.144480,37.476110,81.167960,83.595221,99.804660,99.503450,1.31,8.5,16112.19,0.17,33.3,39157685.0,European Union
7783,Spain,1993,43.530870,38.928440,81.845290,84.311489,99.777081,99.459923,1.26,8.6,13339.91,0.12,33.6,39361262.0,European Union
7784,Spain,1994,45.928920,42.234510,82.522620,85.027758,99.749502,99.416396,1.19,8.6,13415.29,0.09,34.0,39549108.0,European Union
7785,Spain,1995,49.127230,42.478270,83.199950,85.744026,99.721923,99.372869,1.16,8.7,15471.96,0.05,34.4,39724050.0,European Union
7786,Spain,1996,51.522170,44.004550,83.877280,86.460295,99.694343,99.329342,1.14,8.8,16109.08,0.04,34.8,39889852.0,European Union
7787,Spain,1997,54.708080,46.576400,84.554610,87.176563,99.666764,99.285815,1.15,8.7,14730.80,0.05,35.2,40057389.0,European Union
7788,Spain,1998,57.436960,48.444890,85.231940,87.892832,99.639185,99.242288,1.13,9.0,15394.35,0.02,35.6,40223509.0,European Union
7789,Spain,1999,59.841790,50.445080,85.909270,88.609100,99.611606,99.198760,1.17,9.2,15720.64,0.03,36.0,40386875.0,European Union
7790,Spain,2000,62.726290,52.978090,87.173150,90.443300,99.584027,99.155233,1.22,8.9,14749.69,0.10,36.4,40567864.0,European Union
7791,Spain,2001,64.474020,55.340140,88.506300,92.270670,99.556448,99.111706,1.23,8.8,15369.00,0.12,36.8,40850412.0,European Union
7792,Spain,2002,67.314420,56.168070,88.937400,93.025910,99.528868,99.068179,1.25,8.8,17106.69,0.12,37.1,41431558.0,European Union
7793,Spain,2003,69.923960,58.332820,89.251700,93.442450,99.501289,99.024652,1.30,9.1,21510.84,0.13,37.3,42187645.0,European Union
7794,Spain,2004,73.180040,59.384310,90.144590,94.825100,99.473710,98.981125,1.31,8.6,24907.00,0.19,37.5,42921895.0,European Union
7795,Spain,2005,74.224840,60.464730,91.532810,95.115360,99.446131,98.937598,1.33,8.8,26429.15,0.18,37.7,43653155.0,European Union
7796,Spain,2006,75.949730,61.522980,91.145190,94.684930,99.418552,98.894071,1.36,8.3,28389.08,0.24,37.9,44397319.0,European Union
7797,Spain,2007,76.322300,61.573950,90.428040,93.817650,99.390973,98.850544,1.38,8.5,32591.35,0.24,38.1,45226803.0,European Union
7798,Spain,2008,77.396920,62.485220,89.865620,93.249400,99.363393,98.807017,1.45,8.4,35510.72,0.29,38.3,45954106.0,European Union
7799,Spain,2009,79.575600,64.005210,89.457420,92.784900,99.335814,98.763490,1.38,8.3,32169.50,0.24,38.7,46362946.0,European Union
7800,Spain,2010,84.162370,68.095790,89.615110,92.200980,99.308235,98.719962,1.37,8.2,30532.48,0.23,39.1,46576897.0,European Union
7801,Spain,2011,88.747410,71.805450,88.577750,90.265850,99.280656,98.676435,1.34,8.3,31677.90,0.19,39.5,46742697.0,European Union
7802,Spain,2012,90.690850,74.297290,89.140630,90.508950,99.253077,98.632908,1.32,8.6,28322.95,0.12,40.0,46773055.0,European Union
7803,Spain,2013,92.072410,75.803960,89.971970,91.125400,99.225498,98.589381,1.27,8.3,29077.18,0.08,40.5,46620045.0,European Union
7804,Spain,2014,93.493330,77.790980,90.926200,91.954030,99.197918,98.545854,1.32,8.5,29513.65,0.07,41.1,46480882.0,European Union
7805,Spain,2015,93.241800,78.340860,92.280140,93.288150,99.170339,98.502327,1.33,9.1,25754.36,-0.01,41.5,46444832.0,European Union
7806,Spain,2016,94.411690,78.987720,94.273120,95.647710,99.142760,98.458800,1.34,8.8,26537.16,0.00,42.0,46484062.0,European Union
7807,Spain,2017,97.028160,81.053250,96.050460,97.750940,97.640030,96.926630,1.31,9.1,28185.32,-0.07,42.4,46593236.0,European Union
7808,Spain,2018,99.968350,82.662910,86.140041,86.178981,92.611322,92.719590,1.26,9.1,30379.72,-0.12,42.8,46797754.0,European Union
7809,Spain,2019,102.125970,84.070200,86.140041,86.178981,92.611322,92.719590,1.23,8.8,29581.52,-0.13,43.1,47134837.0,European Union
7810,Spain,2020,106.386720,86.043100,86.140041,86.178981,92.611322,92.719590,1.19,10.4,26984.30,-0.30,43.5,47365655.0,European Union
7811,Spain,2021,106.386720,86.043100,86.140041,86.178981,92.611322,92.719590,1.19,9.5,30488.82,-0.20,43.9,47415794.0,European Union

In [41]:
# Calculate metrics year by year for all countries except "World" and compare with "World"
metrics = [
    'Tertiary Enrolment (F)', 'Tertiary Enrolment (M)', 
    'Secondary Enrolment (M)', 'Secondary Enrolment (F)', 
    'Primary Enrolment (F)', 'Primary Enrolment (M)', 
    'Birth Rate', 'Death Rate', 'GDP per Capita', 
    'Natural Growth Rate', 'Median Age', 'Total Population'
]

results = []

for year in filled_megamerge_df['Year'].unique():
    # Filter data for the given year
    yearly_data = filled_megamerge_df[filled_megamerge_df['Year'] == year]
    
    # Exclude "World" region
    countries_data = yearly_data[yearly_data['Region'] != 'World']
    world_data = yearly_data[yearly_data['Region'] == 'World']
    
    num_countries = len(countries_data)
    
    # Calculate the sum for Total Population
    total_population_sum = countries_data['Total Population'].sum()
    world_population = world_data['Total Population'].values[0] if not world_data.empty else None
    
    metrics_comparison = {
        'Year': year,
        'Total Population (Sum)': total_population_sum,
        'World Population': world_population,
        'Population Percentage': (total_population_sum / world_population) * 100 if world_population else None
    }
    
    # Calculate mean for other metrics
    for metric in metrics:
        if metric != 'Total Population':
            countries_mean = countries_data[metric].sum() / num_countries
            world_mean = world_data[metric].values[0] if not world_data.empty else None
            metrics_comparison[f'{metric} (Mean)'] = countries_mean
            metrics_comparison[f'{metric} (World)'] = world_mean
            metrics_comparison[f'{metric} (Percentage)'] = (countries_mean / world_mean) * 100 if world_mean else None
    
    results.append(metrics_comparison)

comparison_df = pd.DataFrame(results)

In [42]:
float_columns =filled_megamerge_df.select_dtypes(include=['float64']).columns

# Round the float columns to 2 decimal places
filled_megamerge_df[float_columns] =filled_megamerge_df[float_columns].round(2)

In [43]:
#save the data cleanly in cleaned file
filled_megamerge_df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_machine_learning_ready.csv',index=False)

In [44]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/MEGAMERGE_machine_learning_ready.csv')
df = pd.read_csv(url)
df

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
0,Afghanistan,1980,0.50,1.86,13.76,3.52,11.00,46.06,7.59,24.21,291.65,2.63,15.9,12486631.0,Asia
1,Afghanistan,1981,0.52,2.15,14.29,3.85,11.21,45.50,7.57,23.61,311.85,2.67,15.8,11155195.0,Asia
2,Afghanistan,1982,0.54,2.44,14.82,4.18,11.42,44.94,7.55,25.62,326.37,2.45,15.7,10088289.0,Asia
3,Afghanistan,1983,0.56,2.73,15.35,4.51,11.62,44.38,7.54,25.11,340.88,2.50,15.6,9951449.0,Asia
4,Afghanistan,1984,0.58,3.02,15.88,4.83,11.83,43.82,7.51,30.03,355.39,2.02,15.5,10243686.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Zimbabwe,2017,9.69,8.01,44.79,44.95,79.96,80.78,3.71,8.27,1192.11,2.42,17.3,14751101.0,Africa
9236,Zimbabwe,2018,9.69,8.01,48.05,48.82,81.03,81.91,3.66,7.97,2269.18,2.41,17.5,15052184.0,Africa
9237,Zimbabwe,2019,9.69,8.01,47.99,48.77,81.37,82.36,3.60,8.04,1421.87,2.35,17.7,15354608.0,Africa
9238,Zimbabwe,2020,9.69,8.01,47.99,48.77,81.37,82.36,3.54,8.13,1372.70,2.29,17.9,15669666.0,Africa
9239,Zimbabwe,2021,9.69,8.01,47.99,48.77,81.37,82.36,3.49,9.06,1773.92,2.15,18.1,15993524.0,Africa

In [45]:
filtered_df_spain = df[df['Country Name'] == 'World']
filtered_df_spain

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Birth Rate,Death Rate,GDP per Capita,Natural Growth Rate,Median Age,Total Population,Region
9072,World,1980,10.23,14.18,47.95,38.93,75.82,81.60,3.73,10.35,2587.77,1.79,21.5,4.442348e+09,World
9073,World,1981,10.64,14.25,48.41,39.63,75.46,82.38,3.71,10.20,2621.86,1.81,21.6,4.520917e+09,World
9074,World,1982,11.06,14.31,48.86,40.33,75.10,83.16,3.72,10.12,2538.52,1.84,21.7,4.602701e+09,World
9075,World,1983,11.47,14.37,49.32,41.03,74.74,83.94,3.59,10.17,2561.57,1.77,21.8,4.684876e+09,World
9076,World,1984,11.88,14.43,49.77,41.73,74.38,84.72,3.57,10.04,2614.18,1.78,21.9,4.766641e+09,World
9077,World,1985,12.29,14.50,50.23,42.43,74.02,85.50,3.53,9.92,2675.66,1.78,22.0,4.850077e+09,World
9078,World,1986,12.15,14.43,50.68,43.13,75.28,85.80,3.52,9.73,3109.56,1.82,22.2,4.936007e+09,World
9079,World,1987,12.27,14.52,51.14,43.83,75.79,85.92,3.49,9.56,3493.23,1.82,22.4,5.024289e+09,World
9080,World,1988,12.29,14.25,51.59,44.54,76.60,86.44,3.40,9.53,3841.11,1.77,22.6,5.113388e+09,World
9081,World,1989,12.48,14.31,52.05,45.24,77.56,86.84,3.35,9.30,3927.77,1.76,22.8,5.202583e+09,World
9082,World,1990,12.81,14.40,52.50,45.94,77.25,86.48,3.31,9.26,4332.77,1.75,23.0,5.293395e+09,World
9083,World,1991,13.06,14.51,52.96,46.64,77.75,86.58,3.12,9.22,4446.32,1.62,23.1,5.382537e+09,World
9084,World,1992,13.44,14.63,53.41,47.34,77.65,86.23,3.04,9.14,4684.30,1.56,23.4,5.470165e+09,World
9085,World,1993,13.90,14.92,53.86,48.04,77.99,86.00,2.97,9.14,4721.41,1.50,23.6,5.556623e+09,World
9086,World,1994,14.45,15.43,54.32,48.74,78.25,85.74,2.92,9.11,4962.30,1.46,23.8,5.642046e+09,World
9087,World,1995,15.12,15.94,54.77,49.44,77.98,85.28,2.86,8.99,5443.84,1.43,24.1,5.726736e+09,World
9088,World,1996,15.70,16.51,55.23,50.14,77.91,84.80,2.81,8.89,5489.00,1.40,24.3,5.811580e+09,World
9089,World,1997,16.57,17.18,55.68,50.84,78.14,84.65,2.77,8.76,5393.03,1.37,24.5,5.896056e+09,World
9090,World,1998,17.10,17.56,56.14,51.54,78.89,85.04,2.74,8.70,5309.37,1.34,24.8,5.979727e+09,World
9091,World,1999,18.28,18.50,56.27,51.83,79.90,85.43,2.71,8.59,5407.95,1.32,25.0,6.062289e+09,World
9092,World,2000,19.00,19.11,57.05,52.72,80.68,85.90,2.72,8.49,5517.12,1.33,25.2,6.144321e+09,World
9093,World,2001,20.30,20.28,57.39,53.61,81.01,86.06,2.68,8.42,5410.75,1.31,25.5,6.226348e+09,World
9094,World,2002,21.92,21.40,57.67,54.37,81.40,86.12,2.65,8.36,5545.61,1.29,25.7,6.308141e+09,World
9095,World,2003,23.11,22.51,58.27,55.56,83.54,86.63,2.63,8.30,6138.11,1.27,25.9,6.389462e+09,World
9096,World,2004,24.10,23.24,58.99,56.58,84.72,87.52,2.62,8.20,6829.85,1.27,26.1,6.470924e+09,World
9097,World,2005,24.91,23.75,59.49,57.45,85.44,88.05,2.60,8.15,7303.74,1.26,26.3,6.552700e+09,World
9098,World,2006,25.98,24.38,60.03,58.15,86.01,88.33,2.60,8.07,7816.39,1.26,26.5,6.635110e+09,World
9099,World,2007,26.93,25.16,60.97,59.16,87.16,89.64,2.59,8.04,8700.59,1.27,26.7,6.717568e+09,World
9100,World,2008,28.05,26.09,61.61,60.02,87.62,89.63,2.59,8.04,9443.24,1.26,26.9,6.801441e+09,World
9101,World,2009,29.19,27.11,61.87,60.71,87.85,89.35,2.58,7.92,8842.43,1.27,27.1,6.885663e+09,World
9102,World,2010,30.49,28.35,62.97,62.10,87.88,89.33,2.55,7.87,9570.62,1.25,27.3,6.969986e+09,World
9103,World,2011,32.32,30.09,63.78,63.28,88.07,89.20,2.53,7.79,10485.49,1.24,27.6,7.054044e+09,World
9104,World,2012,33.99,31.09,63.76,63.84,88.19,89.76,2.55,7.73,10587.94,1.25,27.8,7.141386e+09,World
9105,World,2013,35.13,31.74,64.96,64.83,88.20,89.74,2.51,7.66,10749.96,1.22,28.0,7.229303e+09,World
9106,World,2014,37.73,33.84,65.63,65.67,88.33,90.06,2.51,7.58,10911.13,1.21,28.2,7.317040e+09,World
9107,World,2015,38.93,34.89,65.67,65.77,88.17,90.10,2.48,7.57,10168.12,1.17,28.5,7.403850e+09,World
9108,World,2016,39.70,35.31,65.81,65.85,88.34,90.43,2.48,7.51,10215.59,1.16,28.7,7.490415e+09,World
9109,World,2017,40.19,35.56,66.13,66.27,88.17,90.28,2.46,7.50,10754.93,1.13,28.9,7.576442e+09,World
9110,World,2018,40.83,35.80,66.28,66.27,88.22,90.53,2.40,7.49,11297.45,1.07,29.2,7.660371e+09,World
9111,World,2019,42.15,36.49,66.28,66.27,88.22,90.53,2.36,7.47,11338.15,1.03,29.5,7.741775e+09,World
9112,World,2020,43.42,37.41,66.28,66.27,88.22,90.53,2.30,8.03,10904.15,0.92,29.7,7.820206e+09,World
9113,World,2021,43.42,37.41,66.28,66.27,88.22,90.53,2.27,8.72,12316.10,0.82,30.0,7.888306e+09,World

In [46]:
# Filter the dataframe to include only rows where Country Name is 'World'
world_data = filled_megamerge_df[filled_megamerge_df['Country Name'] == 'World']

In [47]:
# Pivot the table to make 'Year' the index and other columns as data columns
world_data_pivot = world_data.pivot(index='Year', columns='Country Name', values=world_data.columns[2:])

# Flatten the multi-index columns
world_data_pivot.columns = [f"{col[1]}_{col[0]}" for col in world_data_pivot.columns]


world_data_pivot.head()

,World_Tertiary Enrolment (F),World_Tertiary Enrolment (M),World_Secondary Enrolment (M),World_Secondary Enrolment (F),World_Primary Enrolment (F),World_Primary Enrolment (M),World_Birth Rate,World_Death Rate,World_GDP per Capita,World_Natural Growth Rate,World_Median Age,World_Total Population,World_Region
Year,,,,,,,,,,,,,
1980,10.23,14.18,47.95,38.93,75.82,81.6,3.73,10.35,2587.77,1.79,21.5,4442348279.0,World
1981,10.64,14.25,48.41,39.63,75.46,82.38,3.71,10.2,2621.86,1.81,21.6,4520917350.0,World
1982,11.06,14.31,48.86,40.33,75.1,83.16,3.72,10.12,2538.52,1.84,21.7,4602701335.0,World
1983,11.47,14.37,49.32,41.03,74.74,83.94,3.59,10.17,2561.57,1.77,21.8,4684875627.0,World
1984,11.88,14.43,49.77,41.73,74.38,84.72,3.57,10.04,2614.18,1.78,21.9,4766640881.0,World

In [48]:
# Drop the 'World_Region' column from the pivoted dataframe
world_data_pivot.drop(columns=['World_Region'], inplace=True)

In [49]:
world_data_pivot

,World_Tertiary Enrolment (F),World_Tertiary Enrolment (M),World_Secondary Enrolment (M),World_Secondary Enrolment (F),World_Primary Enrolment (F),World_Primary Enrolment (M),World_Birth Rate,World_Death Rate,World_GDP per Capita,World_Natural Growth Rate,World_Median Age,World_Total Population
Year,,,,,,,,,,,,
1980,10.23,14.18,47.95,38.93,75.82,81.6,3.73,10.35,2587.77,1.79,21.5,4442348279.0
1981,10.64,14.25,48.41,39.63,75.46,82.38,3.71,10.2,2621.86,1.81,21.6,4520917350.0
1982,11.06,14.31,48.86,40.33,75.1,83.16,3.72,10.12,2538.52,1.84,21.7,4602701335.0
1983,11.47,14.37,49.32,41.03,74.74,83.94,3.59,10.17,2561.57,1.77,21.8,4684875627.0
1984,11.88,14.43,49.77,41.73,74.38,84.72,3.57,10.04,2614.18,1.78,21.9,4766640881.0
1985,12.29,14.5,50.23,42.43,74.02,85.5,3.53,9.92,2675.66,1.78,22.0,4850076923.0
1986,12.15,14.43,50.68,43.13,75.28,85.8,3.52,9.73,3109.56,1.82,22.2,4936006502.0
1987,12.27,14.52,51.14,43.83,75.79,85.92,3.49,9.56,3493.23,1.82,22.4,5024289346.0
1988,12.29,14.25,51.59,44.54,76.6,86.44,3.4,9.53,3841.11,1.77,22.6,5113387878.0
1989,12.48,14.31,52.05,45.24,77.56,86.84,3.35,9.3,3927.77,1.76,22.8,5202582534.0
1990,12.81,14.4,52.5,45.94,77.25,86.48,3.31,9.26,4332.77,1.75,23.0,5293395467.0
1991,13.06,14.51,52.96,46.64,77.75,86.58,3.12,9.22,4446.32,1.62,23.1,5382536929.0
1992,13.44,14.63,53.41,47.34,77.65,86.23,3.04,9.14,4684.3,1.56,23.4,5470164577.0
1993,13.9,14.92,53.86,48.04,77.99,86.0,2.97,9.14,4721.41,1.5,23.6,5556623321.0
1994,14.45,15.43,54.32,48.74,78.25,85.74,2.92,9.11,4962.3,1.46,23.8,5642046034.0
1995,15.12,15.94,54.77,49.44,77.98,85.28,2.86,8.99,5443.84,1.43,24.1,5726736488.0
1996,15.7,16.51,55.23,50.14,77.91,84.8,2.81,8.89,5489.0,1.4,24.3,5811580202.0
1997,16.57,17.18,55.68,50.84,78.14,84.65,2.77,8.76,5393.03,1.37,24.5,5896055962.0
1998,17.1,17.56,56.14,51.54,78.89,85.04,2.74,8.7,5309.37,1.34,24.8,5979726559.0
1999,18.28,18.5,56.27,51.83,79.9,85.43,2.71,8.59,5407.95,1.32,25.0,6062288850.0
2000,19.0,19.11,57.05,52.72,80.68,85.9,2.72,8.49,5517.12,1.33,25.2,6144321462.0
2001,20.3,20.28,57.39,53.61,81.01,86.06,2.68,8.42,5410.75,1.31,25.5,6226348086.0
2002,21.92,21.4,57.67,54.37,81.4,86.12,2.65,8.36,5545.61,1.29,25.7,6308140970.0
2003,23.11,22.51,58.27,55.56,83.54,86.63,2.63,8.3,6138.11,1.27,25.9,6389462496.0
2004,24.1,23.24,58.99,56.58,84.72,87.52,2.62,8.2,6829.85,1.27,26.1,6470924346.0
2005,24.91,23.75,59.49,57.45,85.44,88.05,2.6,8.15,7303.74,1.26,26.3,6552700448.0
2006,25.98,24.38,60.03,58.15,86.01,88.33,2.6,8.07,7816.39,1.26,26.5,6635110367.0
2007,26.93,25.16,60.97,59.16,87.16,89.64,2.59,8.04,8700.59,1.27,26.7,6717567584.0
2008,28.05,26.09,61.61,60.02,87.62,89.63,2.59,8.04,9443.24,1.26,26.9,6801440971.0
2009,29.19,27.11,61.87,60.71,87.85,89.35,2.58,7.92,8842.43,1.27,27.1,6885663352.0
2010,30.49,28.35,62.97,62.1,87.88,89.33,2.55,7.87,9570.62,1.25,27.3,6969985525.0
2011,32.32,30.09,63.78,63.28,88.07,89.2,2.53,7.79,10485.49,1.24,27.6,7054044372.0
2012,33.99,31.09,63.76,63.84,88.19,89.76,2.55,7.73,10587.94,1.25,27.8,7141386257.0
2013,35.13,31.74,64.96,64.83,88.2,89.74,2.51,7.66,10749.96,1.22,28.0,7229303088.0
2014,37.73,33.84,65.63,65.67,88.33,90.06,2.51,7.58,10911.13,1.21,28.2,7317040295.0
2015,38.93,34.89,65.67,65.77,88.17,90.1,2.48,7.57,10168.12,1.17,28.5,7403850164.0
2016,39.7,35.31,65.81,65.85,88.34,90.43,2.48,7.51,10215.59,1.16,28.7,7490415449.0
2017,40.19,35.56,66.13,66.27,88.17,90.28,2.46,7.5,10754.93,1.13,28.9,7576441961.0
2018,40.83,35.8,66.28,66.27,88.22,90.53,2.4,7.49,11297.45,1.07,29.2,7660371127.0
2019,42.15,36.49,66.28,66.27,88.22,90.53,2.36,7.47,11338.15,1.03,29.5,7741774583.0
2020,43.42,37.41,66.28,66.27,88.22,90.53,2.3,8.03,10904.15,0.92,29.7,7820205606.0
2021,43.42,37.41,66.28,66.27,88.22,90.53,2.27,8.72,12316.1,0.82,30.0,7888305693.0

In [50]:
#save the data cleanly in cleaned file
world_data_pivot.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/World_machine_learning_ready.csv',index=False,encoding='utf-8')