In [14]:
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

Death Rate clean

In [15]:
url =('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/Death rate, crude/death rate.csv')
df = pd.read_csv(url)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10752 entries, 0 to 10751
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     10752 non-null  object
 1   Year             10752 non-null  int64
 2   death_rate_data  10752 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 252.1+ KB

In [26]:
df['death_rate_data'].max()

991.0

In [29]:
# Fix the death_rate values greater than 10 by dividing by 1000
df.loc[df['death_rate_data'] > 110, 'death_rate_data'] = df['death_rate_data'] / 1000

In [30]:

top_40_birth_rates = df.sort_values(by='death_rate_data', ascending=False).head(40)
top_40_birth_rates

     Country Name  Year  death_rate_data
8204       Rwanda  1994           103.53
8954  South Sudan  1988            74.55
8964  South Sudan  1998            55.95
8953  South Sudan  1987            47.48
8959  South Sudan  1993            45.73
8958  South Sudan  1992            45.70
8789      Somalia  1991            40.46
8790      Somalia  1992            38.55
8956  South Sudan  1990            34.07
8957  South Sudan  1991            33.90
8955  South Sudan  1989            33.88
9702  Timor-Leste  1980            33.56
8961  South Sudan  1995            32.71
9703  Timor-Leste  1981            32.47
8962  South Sudan  1996            32.20
9704  Timor-Leste  1982            31.35
8963  South Sudan  1997            30.95
8950  South Sudan  1984            30.86
9705  Timor-Leste  1983            30.64
8951  South Sudan  1985            30.61
8952  South Sudan  1986            30.28
4     Afghanistan  1984            30.03
5     Afghanistan  1985            29.66
9707  Timor-Leste  1985            28.54
9706  Timor-Leste  1984            28.42
2985     Ethiopia  1983            28.37
9708  Timor-Leste  1986            28.07
8949  South Sudan  1983            27.81
2986     Ethiopia  1984            27.79
2987     Ethiopia  1985            26.79
9709  Timor-Leste  1987            26.73
9710  Timor-Leste  1988            26.63
2988     Ethiopia  1986            26.36
9374        Sudan  1988            25.86
7229        Niger  1985            25.81
7230        Niger  1986            25.76
7228        Niger  1984            25.70
2     Afghanistan  1982            25.62
5680      Liberia  1990            25.50
7231        Niger  1987            25.49

In [17]:
# Function to check the percentage of NaN values in each row
def check_nan_percentage(row):
    nan_count = row.isna().sum()
    total_count = len(row) - 1  # Exclude the 'Country Name' column
    nan_percentage = nan_count / total_count
    return nan_percentage

# List to store countries with more than 35% NaN values
countries_with_high_nan = []

# Process each row
for index, row in df.iterrows():
    nan_percentage = check_nan_percentage(row)
    if nan_percentage > 0.35:
        countries_with_high_nan.append(row['Country Name'])
    else:
        # Forward fill, backward fill, and interpolate for rows with <= 35% NaN values
        df.iloc[index, 1:] = df.iloc[index, 1:].ffill().bfill().interpolate()

# Display the countries with more than 35% NaN values
if countries_with_high_nan:
    print("Countries with more than 35% NaN values:")
    for country in countries_with_high_nan:
        print(country)
else:
    print("No country has more than 35% NaN values.")

No country has more than 35% NaN values.

In [32]:
df.isnull().values.any()

False

In [35]:
df

      Country Name  Year  Death Rate
0      Afghanistan  1980       24.21
1      Afghanistan  1981       23.61
2      Afghanistan  1982       25.62
3      Afghanistan  1983       25.11
4      Afghanistan  1984       30.03
...            ...   ...         ...
10747     Zimbabwe  2017        8.27
10748     Zimbabwe  2018        7.97
10749     Zimbabwe  2019        8.04
10750     Zimbabwe  2020        8.13
10751     Zimbabwe  2021        9.06

[10752 rows x 3 columns]

In [34]:
df = df.rename(columns={'death_rate_data': 'Death Rate'})

In [36]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv', index=False, encoding='latin-1')

In [20]:
url =('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv')
df = pd.read_csv(url)
df

      Country Name  Year  death_rate_data
0      Afghanistan  1980            24.21
1      Afghanistan  1981            23.61
2      Afghanistan  1982            25.62
3      Afghanistan  1983            25.11
4      Afghanistan  1984            30.03
...            ...   ...              ...
10747     Zimbabwe  2017             8.27
10748     Zimbabwe  2018             7.97
10749     Zimbabwe  2019             8.04
10750     Zimbabwe  2020             8.13
10751     Zimbabwe  2021             9.06

[10752 rows x 3 columns]

In [21]:
df_long = pd.melt(df, id_vars=['Country Name'], var_name='Year', value_name='death_rate_data')

# Convert 'Year' to an integer
df_long['Year'] = df_long['Year'].astype(int)

df_sorted = df_long.sort_values(by=['Country Name','Year']).round(decimals=2)

# Reset the index
df_sorted.reset_index(drop=True, inplace=True)

ValueError: value_name (death_rate_data) cannot match an element in the DataFrame columns.

In [22]:
df_sorted

NameError: name 'df_sorted' is not defined

In [23]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv', index=False, encoding='latin-1')

In [24]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv')
df = pd.read_csv(url)