In [14]:
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [15]:
url =('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/Death rate, crude/death rate.csv')
df = pd.read_csv(url)

In [16]:
df

      Country Name  Year  death_rate_data
0      Afghanistan  1980            24.21
1      Afghanistan  1981            23.61
2      Afghanistan  1982            25.62
3      Afghanistan  1983            25.11
4      Afghanistan  1984            30.03
...            ...   ...              ...
10747     Zimbabwe  2017             8.27
10748     Zimbabwe  2018             7.97
10749     Zimbabwe  2019             8.04
10750     Zimbabwe  2020             8.13
10751     Zimbabwe  2021             9.06

[10752 rows x 3 columns]

In [17]:
# Function to check the percentage of NaN values in each row
def check_nan_percentage(row):
    nan_count = row.isna().sum()
    total_count = len(row) - 1  # Exclude the 'Country Name' column
    nan_percentage = nan_count / total_count
    return nan_percentage

# List to store countries with more than 35% NaN values
countries_with_high_nan = []

# Process each row
for index, row in df.iterrows():
    nan_percentage = check_nan_percentage(row)
    if nan_percentage > 0.35:
        countries_with_high_nan.append(row['Country Name'])
    else:
        # Forward fill, backward fill, and interpolate for rows with <= 35% NaN values
        df.iloc[index, 1:] = df.iloc[index, 1:].ffill().bfill().interpolate()

# Display the countries with more than 35% NaN values
if countries_with_high_nan:
    print("Countries with more than 35% NaN values:")
    for country in countries_with_high_nan:
        print(country)
else:
    print("No country has more than 35% NaN values.")

No country has more than 35% NaN values.

In [18]:
df.isnull().values.any()

False

In [19]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv', index=False, encoding='latin-1')

In [20]:
url =('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv')
df = pd.read_csv(url)
df

      Country Name  Year  death_rate_data
0      Afghanistan  1980            24.21
1      Afghanistan  1981            23.61
2      Afghanistan  1982            25.62
3      Afghanistan  1983            25.11
4      Afghanistan  1984            30.03
...            ...   ...              ...
10747     Zimbabwe  2017             8.27
10748     Zimbabwe  2018             7.97
10749     Zimbabwe  2019             8.04
10750     Zimbabwe  2020             8.13
10751     Zimbabwe  2021             9.06

[10752 rows x 3 columns]

In [21]:
df_long = pd.melt(df, id_vars=['Country Name'], var_name='Year', value_name='death_rate_data')

# Convert 'Year' to an integer
df_long['Year'] = df_long['Year'].astype(int)

df_sorted = df_long.sort_values(by=['Country Name','Year']).round(decimals=2)

# Reset the index
df_sorted.reset_index(drop=True, inplace=True)

ValueError: value_name (death_rate_data) cannot match an element in the DataFrame columns.

In [22]:
df_sorted

NameError: name 'df_sorted' is not defined

In [23]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv', index=False, encoding='latin-1')

In [24]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/death rate.csv')
df = pd.read_csv(url)