In [33]:
import pandas as pd
import warnings
import pycountry
import numpy as np


warnings.simplefilter(action='ignore', category=FutureWarning)

First cleaning of education

In [34]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels.csv')
df = pd.read_csv(url)

In [35]:
df

,Entity,Code,Year,"Combined gross enrolment ratio for tertiary education, female","Combined gross enrolment ratio for tertiary education, male","Combined total net enrolment rate, secondary, male","Combined total net enrolment rate, secondary, female","Combined total net enrolment rate, primary, female","Combined total net enrolment rate, primary, male"
0,Afghanistan,AFG,1820,0.0,0.01,0.01000,0.00000,0.00000,0.01000
1,Afghanistan,AFG,1825,0.0,0.01,0.01000,0.00000,0.00000,0.01000
2,Afghanistan,AFG,1830,0.0,0.01,0.01000,0.00000,0.00000,0.01000
3,Afghanistan,AFG,1835,0.0,0.01,0.01000,0.00000,0.00000,0.01000
4,Afghanistan,AFG,1840,0.0,0.01,0.01000,0.00000,0.00000,0.01000
...,...,...,...,...,...,...,...,...,...
9223,Zimbabwe,ZWE,2000,NaN,NaN,44.75129,40.17528,89.00224,88.52073
9224,Zimbabwe,ZWE,2001,NaN,NaN,45.72983,40.98154,92.54698,91.74628
9225,Zimbabwe,ZWE,2002,NaN,NaN,43.78683,38.72148,89.90188,89.31955
9226,Zimbabwe,ZWE,2003,NaN,NaN,39.19233,35.34257,89.42919,88.45444
9227,Zimbabwe,ZWE,1998,NaN,NaN,NaN,NaN,85.61508,83.42723

In [36]:
# Drop the 'Code' column and rename columns as specified
df = df.drop(columns=['Code'])
df.rename(columns={
    'Entity': 'Country Name',
    'Combined gross enrolment ratio for tertiary education, female': 'Tertiary Enrolment (F)',
    'Combined gross enrolment ratio for tertiary education, male': 'Tertiary Enrolment (M)',
    'Combined total net enrolment rate, secondary, male': 'Secondary Enrolment (M)',
    'Combined total net enrolment rate, secondary, female': 'Secondary Enrolment (F)',
    'Combined total net enrolment rate, primary, female': 'Primary Enrolment (F)',
    'Combined total net enrolment rate, primary, male': 'Primary Enrolment (M)'
}, inplace=True)

In [37]:
# Ensure the dataset is filtered correctly for the required years (1980-2021)
filtered_data = df[(df['Year'] >= 1980) & (df['Year'] <= 2021)]

In [38]:
filtered_df_china = filtered_data[filtered_data['Country Name'] == 'China']
filtered_df_china

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M)
1633,China,1980,0.50000,2.03000,55.11,36.26,82.22000,78.78000
1634,China,1994,2.47345,4.68749,NaN,NaN,90.89306,95.18826
1635,China,2003,13.94749,16.87404,NaN,NaN,NaN,NaN
1636,China,2004,16.58445,18.73577,NaN,NaN,NaN,NaN
1637,China,2005,18.08854,20.02829,NaN,NaN,NaN,NaN
1638,China,2006,19.62175,20.78171,NaN,NaN,NaN,NaN
1639,China,2007,20.28364,20.74453,NaN,NaN,NaN,NaN
1640,China,2008,20.85634,20.52263,NaN,NaN,NaN,NaN
1641,China,2009,22.87581,22.03863,NaN,NaN,NaN,NaN
1642,China,2010,24.95607,23.49371,NaN,NaN,NaN,NaN
1643,China,2011,26.78327,24.59831,NaN,NaN,NaN,NaN
1644,China,2012,30.26018,27.31908,NaN,NaN,NaN,NaN
1645,China,2013,34.55895,30.50321,NaN,NaN,NaN,NaN
1646,China,2014,45.75697,39.43411,NaN,NaN,NaN,NaN
1647,China,2015,50.17866,42.33761,NaN,NaN,NaN,NaN
1648,China,2016,52.74170,43.81256,NaN,NaN,NaN,NaN
1649,China,2017,53.97915,44.71566,NaN,NaN,NaN,NaN
1650,China,2018,55.88122,45.92842,NaN,NaN,NaN,NaN
1651,China,2019,59.46992,48.72492,NaN,NaN,NaN,NaN
1652,China,2020,63.92701,53.57205,NaN,NaN,NaN,NaN
1653,China,2021,68.99329,58.87367,NaN,NaN,NaN,NaN
1654,China,1987,NaN,NaN,NaN,NaN,88.86181,96.59585
1655,China,1989,NaN,NaN,NaN,NaN,92.44208,99.61420
1656,China,1991,NaN,NaN,NaN,NaN,93.82729,99.64831
1657,China,1992,NaN,NaN,NaN,NaN,93.15314,98.42773
1658,China,1993,NaN,NaN,NaN,NaN,92.24111,97.07896
1659,China,1995,NaN,NaN,NaN,NaN,89.55309,92.94238
1660,China,1996,NaN,NaN,NaN,NaN,88.67978,91.32285
1661,China,1997,NaN,NaN,NaN,NaN,88.37060,90.26422

In [39]:
# Define a function to create a complete set of years for interpolation
def complete_years(df, start_year, end_year):
    idx = pd.MultiIndex.from_product([df['Country Name'].unique(), range(start_year, end_year+1)], names=['Country Name', 'Year'])
    df = df.set_index(['Country Name', 'Year']).reindex(idx).reset_index()
    return df

# Apply the function to the filtered data
complete_data = complete_years(filtered_data, 1980, 2021)

In [40]:
complete_data

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M)
0,Afghanistan,1980,0.50000,1.86000,13.76,3.52,11.0,46.06
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9529,Zimbabwe,2017,9.68927,8.00596,NaN,NaN,NaN,NaN
9530,Zimbabwe,2018,NaN,NaN,NaN,NaN,NaN,NaN
9531,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN
9532,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN
9533,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Filter the DataFrame
filtered_df_specific_country = filtered_data[filtered_data['Country Name'] == 'China']
filtered_df_specific_country

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M)
1633,China,1980,0.50000,2.03000,55.11,36.26,82.22000,78.78000
1634,China,1994,2.47345,4.68749,NaN,NaN,90.89306,95.18826
1635,China,2003,13.94749,16.87404,NaN,NaN,NaN,NaN
1636,China,2004,16.58445,18.73577,NaN,NaN,NaN,NaN
1637,China,2005,18.08854,20.02829,NaN,NaN,NaN,NaN
1638,China,2006,19.62175,20.78171,NaN,NaN,NaN,NaN
1639,China,2007,20.28364,20.74453,NaN,NaN,NaN,NaN
1640,China,2008,20.85634,20.52263,NaN,NaN,NaN,NaN
1641,China,2009,22.87581,22.03863,NaN,NaN,NaN,NaN
1642,China,2010,24.95607,23.49371,NaN,NaN,NaN,NaN
1643,China,2011,26.78327,24.59831,NaN,NaN,NaN,NaN
1644,China,2012,30.26018,27.31908,NaN,NaN,NaN,NaN
1645,China,2013,34.55895,30.50321,NaN,NaN,NaN,NaN
1646,China,2014,45.75697,39.43411,NaN,NaN,NaN,NaN
1647,China,2015,50.17866,42.33761,NaN,NaN,NaN,NaN
1648,China,2016,52.74170,43.81256,NaN,NaN,NaN,NaN
1649,China,2017,53.97915,44.71566,NaN,NaN,NaN,NaN
1650,China,2018,55.88122,45.92842,NaN,NaN,NaN,NaN
1651,China,2019,59.46992,48.72492,NaN,NaN,NaN,NaN
1652,China,2020,63.92701,53.57205,NaN,NaN,NaN,NaN
1653,China,2021,68.99329,58.87367,NaN,NaN,NaN,NaN
1654,China,1987,NaN,NaN,NaN,NaN,88.86181,96.59585
1655,China,1989,NaN,NaN,NaN,NaN,92.44208,99.61420
1656,China,1991,NaN,NaN,NaN,NaN,93.82729,99.64831
1657,China,1992,NaN,NaN,NaN,NaN,93.15314,98.42773
1658,China,1993,NaN,NaN,NaN,NaN,92.24111,97.07896
1659,China,1995,NaN,NaN,NaN,NaN,89.55309,92.94238
1660,China,1996,NaN,NaN,NaN,NaN,88.67978,91.32285
1661,China,1997,NaN,NaN,NaN,NaN,88.37060,90.26422

In [42]:
complete_data.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels_cleanded.csv',index=False,encoding='latin-1')

In [43]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels_cleanded.csv')
df=pd.read_csv(url)
df

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M)
0,Afghanistan,1980,0.50000,1.86000,13.76,3.52,11.0,46.06
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9529,Zimbabwe,2017,9.68927,8.00596,NaN,NaN,NaN,NaN
9530,Zimbabwe,2018,NaN,NaN,NaN,NaN,NaN,NaN
9531,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN
9532,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN
9533,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.isna().sum()

Country Name                  0
Year                          0
Tertiary Enrolment (F)     5059
Tertiary Enrolment (M)     5059
Secondary Enrolment (M)    6772
Secondary Enrolment (F)    6772
Primary Enrolment (F)      6455
Primary Enrolment (M)      6455
dtype: int64

In [45]:
# Group by 'Country Name' and apply forward fill, backward fill, and interpolation without using lambda
data_grouped = df

# Reattach 'Country Name' and 'Year' columns to the grouped df
data_grouped['Country Name'] = df['Country Name']
data_grouped['Year'] = df['Year']

# Check for any remaining missing values
remaining_missing_values = data_grouped.isnull().sum()
remaining_missing_values

Country Name                  0
Year                          0
Tertiary Enrolment (F)     5059
Tertiary Enrolment (M)     5059
Secondary Enrolment (M)    6772
Secondary Enrolment (F)    6772
Primary Enrolment (F)      6455
Primary Enrolment (M)      6455
dtype: int64

In [46]:
country_region_mapping = {
    "Afghanistan": "Asia",
    "Africa": "Africa",
    "Albania": "Europe",
    "Algeria": "Africa",
    "American Samoa": "Oceania",
    "Angola": "Africa",
    "Antigua and Barbuda": "North America",
    "Argentina": "South America",
    "Armenia": "Asia",
    "Aruba": "North America",
    "Asia": "Asia",
    "Australia": "Oceania",
    "Austria": "Europe",
    "Azerbaijan": "Asia",
    "Bahamas": "North America",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "North America",
    "Belarus": "Europe",
    "Belgium": "Europe",
    "Belize": "North America",
    "Benin": "Africa",
    "Bermuda": "North America",
    "Bhutan": "Asia",
    "Bolivia": "South America",
    "Bosnia and Herzegovina": "Europe",
    "Botswana": "Africa",
    "Brazil": "South America",
    "British Virgin Islands": "North America",
    "Brunei": "Asia",
    "Bulgaria": "Europe",
    "Burkina Faso": "Africa",
    "Burundi": "Africa",
    "Cambodia": "Asia",
    "Cameroon": "Africa",
    "Canada": "North America",
    "Cape Verde": "Africa",
    "Cayman Islands": "North America",
    "Central African Republic": "Africa",
    "Chad": "Africa",
    "Chile": "South America",
    "China": "Asia",
    "Colombia": "South America",
    "Comoros": "Africa",
    "Congo": "Africa",
    "Costa Rica": "North America",
    "Cote d'Ivoire": "Africa",
    "Croatia": "Europe",
    "Cuba": "North America",
    "Curacao": "North America",
    "Cyprus": "Asia",
    "Czechia": "Europe",
    "Democratic Republic of Congo": "Africa",
    "Denmark": "Europe",
    "Djibouti": "Africa",
    "Dominica": "North America",
    "Dominican Republic": "North America",
    "East Asia and Pacific (WB)": "Asia",
    "East Timor": "Asia",
    "Ecuador": "South America",
    "Egypt": "Africa",
    "El Salvador": "North America",
    "Equatorial Guinea": "Africa",
    "Eritrea": "Africa",
    "Estonia": "Europe",
    "Eswatini": "Africa",
    "Ethiopia": "Africa",
    "Europe": "Europe",
    "Europe and Central Asia (WB)": "Europe",
    "European Union (27)": "Europe",
    "Fiji": "Oceania",
    "Finland": "Europe",
    "France": "Europe",
    "French Polynesia": "Oceania",
    "Gabon": "Africa",
    "Gambia": "Africa",
    "Georgia": "Asia",
    "Germany": "Europe",
    "Ghana": "Africa",
    "Gibraltar": "Europe",
    "Greece": "Europe",
    "Grenada": "North America",
    "Guatemala": "North America",
    "Guinea": "Africa",
    "Guinea-Bissau": "Africa",
    "Guyana": "South America",
    "Haiti": "North America",
    "High-income countries": "Various",
    "Honduras": "North America",
    "Hong Kong": "Asia",
    "Hungary": "Europe",
    "Iceland": "Europe",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iran": "Asia",
    "Iraq": "Asia",
    "Ireland": "Europe",
    "Israel": "Asia",
    "Italy": "Europe",
    "Jamaica": "North America",
    "Japan": "Asia",
    "Jordan": "Asia",
    "Kazakhstan": "Asia",
    "Kenya": "Africa",
    "Kiribati": "Oceania",
    "Kuwait": "Asia",
    "Kyrgyzstan": "Asia",
    "Laos": "Asia",
    "Latin America and Caribbean (WB)": "South America",
    "Latvia": "Europe",
    "Lebanon": "Asia",
    "Lesotho": "Africa",
    "Liberia": "Africa",
    "Libya": "Africa",
    "Liechtenstein": "Europe",
    "Lithuania": "Europe",
    "Low-income countries": "Various",
    "Lower-middle-income countries": "Various",
    "Luxembourg": "Europe",
    "Macao": "Asia",
    "Madagascar": "Africa",
    "Malawi": "Africa",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "Africa",
    "Malta": "Europe",
    "Marshall Islands": "Oceania",
    "Mauritania": "Africa",
    "Mauritius": "Africa",
    "Mexico": "North America",
    "Micronesia (country)": "Oceania",
    "Middle East and North Africa (WB)": "Africa",
    "Middle-income countries": "Various",
    "Moldova": "Europe",
    "Mongolia": "Asia",
    "Montenegro": "Europe",
    "Morocco": "Africa",
    "Mozambique": "Africa",
    "Myanmar": "Asia",
    "Namibia": "Africa",
    "Nauru": "Oceania",
    "Nepal": "Asia",
    "Netherlands": "Europe",
    "New Zealand": "Oceania",
    "Nicaragua": "North America",
    "Niger": "Africa",
    "Nigeria": "Africa",
    "North America": "North America",
    "North America (WB)": "North America",
    "North Korea": "Asia",
    "North Macedonia": "Europe",
    "Norway": "Europe",
    "Oceania": "Oceania",
    "Oman": "Asia",
    "Pakistan": "Asia",
    "Palau": "Oceania",
    "Palestine": "Asia",
    "Panama": "North America",
    "Papua New Guinea": "Oceania",
    "Paraguay": "South America",
    "Peru": "South America",
    "Philippines": "Asia",
    "Poland": "Europe",
    "Portugal": "Europe",
    "Puerto Rico": "North America",
    "Qatar": "Asia",
    "Reunion": "Africa",
    "Romania": "Europe",
    "Russia": "Europe",
    "Rwanda": "Africa",
    "Saint Kitts and Nevis": "North America",
    "Saint Lucia": "North America",
    "Saint Vincent and the Grenadines": "North America",
    "Samoa": "Oceania",
    "San Marino": "Europe",
    "Sao Tome and Principe": "Africa",
    "Saudi Arabia": "Asia",
    "Senegal": "Africa",
    "Serbia": "Europe",
    "Seychelles": "Africa",
    "Sierra Leone": "Africa",
    "Singapore": "Asia",
    "Sint Maarten (Dutch part)": "North America",
    "Slovakia": "Europe",
    "Slovenia": "Europe",
    "Solomon Islands": "Oceania",
    "Somalia": "Africa",
    "South Africa": "Africa",
    "South America": "South America",
    "South Asia (WB)": "Asia",
    "South Korea": "Asia",
    "South Sudan": "Africa",
    "Spain": "Europe",
    "Sri Lanka": "Asia",
    "Sub-Saharan Africa (WB)": "Africa",
    "Sudan": "Africa",
    "Suriname": "South America",
    "Sweden": "Europe",
    "Switzerland": "Europe",
    "Syria": "Asia",
    "Taiwan": "Asia",
    "Tajikistan": "Asia",
    "Tanzania": "Africa",
    "Thailand": "Asia",
    "Togo": "Africa",
    "Tonga": "Oceania",
    "Trinidad and Tobago": "North America",
    "Tunisia": "Africa",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Turks and Caicos Islands": "North America",
    "Tuvalu": "Oceania",
    "Uganda": "Africa",
    "Ukraine": "Europe",
    "United Arab Emirates": "Asia",
    "United Kingdom": "Europe",
    "United States": "North America",
    "Upper-middle-income countries": "Various",
    "Uruguay": "South America",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceania",
    "Venezuela": "South America",
    "Vietnam": "Asia",
    "World": "Various",
    "Yemen": "Asia",
    "Zambia": "Africa",
    "Zimbabwe": "Africa",
}

def map_country_to_region(country_name):
    return country_region_mapping.get(country_name, "Unknown")

# Example usage: Assuming 'df' is your dataframe and it has a column 'Country Name'
df['Region'] = df['Country Name'].apply(map_country_to_region)

# Display the first few rows to check the regions
df.head()

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Region
0,Afghanistan,1980,0.5,1.86,13.76,3.52,11.0,46.06,Asia
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,Asia
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,Asia
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,Asia
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,Asia

In [48]:
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels_regions_dirty.csv',index=False,encoding='latin-1')

In [49]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels_regions_dirty.csv')
df1 = pd.read_csv(url)
df1

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Region
0,Afghanistan,1980,0.50000,1.86000,13.76,3.52,11.0,46.06,Asia
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,Asia
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,Asia
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,Asia
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,Asia
...,...,...,...,...,...,...,...,...,...
9529,Zimbabwe,2017,9.68927,8.00596,NaN,NaN,NaN,NaN,Africa
9530,Zimbabwe,2018,NaN,NaN,NaN,NaN,NaN,NaN,Africa
9531,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,Africa
9532,Zimbabwe,2020,NaN,NaN,NaN,NaN,NaN,NaN,Africa
9533,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,Africa

In [20]:
# Function to map country to region using pycountry and existing mapping
def get_region(country_name):
    try:
        country = pycountry.countries.lookup(country_name)
        return country.region
    except LookupError:
        return country_region_mapping.get(country_name, "Unknown")

# If the region column is missing or needs to be verified
if 'Region' not in df.columns or df['Region'].isnull().any():
    df['Region'] = df['Country Name'].apply(get_region)

# Check the unique regions to ensure correctness
print(df['Region'].unique())

# Define numeric columns to fill missing values
numeric_columns = df.select_dtypes(include=[np.number]).columns

# Function to fill missing values with the mean of the region for each year for numeric columns only
def fill_missing_values(group):
    for col in numeric_columns:
        group[col] = group[col].fillna(group[col].mean())
    return group

# Group by 'Region' and 'Year' and fill missing values with the regional mean for that year
df = df.groupby(['Region', 'Year']).apply(fill_missing_values).reset_index(drop=True)

# Group by 'Country Name' and 'Year' and interpolate missing values linearly for numeric columns only
def interpolate_values(group):
    group[numeric_columns] = group[numeric_columns].interpolate(method='linear')
    return group

df = df.groupby('Country Name', group_keys=True).apply(interpolate_values).reset_index(drop=True)


df.head()

['Asia' 'Africa' 'Europe' 'Oceania' 'North America' 'South America'
 'Various']

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_62620/4161425608.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby(['Region', 'Year']).apply(fill_missing_values).reset_index(drop=True)
/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_62620/4161425608.py:33: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('Country Name', group_keys=True).apply(interpolate_values).reset_index(drop=True)

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Region
0,Afghanistan,1980,0.500000,1.860000,13.760000,3.52000,11.000000,46.060000,Asia
1,Afghanistan,1981,2.329958,4.177562,24.725111,15.54314,24.433368,53.889951,Asia
2,Afghanistan,1982,4.159916,6.495124,35.690222,27.56628,37.866735,61.719903,Asia
3,Afghanistan,1983,5.989874,8.812686,46.655332,39.58942,51.300103,69.549854,Asia
4,Afghanistan,1984,7.819832,11.130248,57.620443,51.61256,64.733470,77.379805,Asia

In [21]:
df['Region'].unique()

array(['Asia', 'Africa', 'Europe', 'Oceania', 'North America',
       'South America', 'Various'], dtype=object)

In [53]:
df['Secondary Enrolment (F)'].max()

100.0

In [23]:
df.describe()

,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M)
count,9534.000000,9534.000000,9534.000000,9534.000000,9534.000000,9534.000000,9534.000000
mean,2000.500000,29.992213,25.615082,61.322686,61.734811,82.950383,85.405772
std,12.121554,26.512087,19.531912,22.347487,24.173428,14.940363,11.815275
min,1980.000000,0.000000,0.000000,0.920000,1.000000,9.000000,21.970000
25%,1990.000000,8.580518,10.821807,43.501272,41.835670,76.994817,81.006620
50%,2000.500000,21.985086,20.514270,65.061494,67.236002,89.075254,89.544145
75%,2011.000000,45.891209,36.230790,80.136957,81.991728,93.205473,93.345940
max,2021.000000,152.656900,149.406390,100.000000,100.000000,100.000000,99.991820

In [24]:
#saves the data with region column
df.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/gender-gap-education-levels_cleanded_regions.csv',index=False,encoding='latin-1')

In [ ]:
df_clean_no_regions = df.drop(columns=['Region'])

In [25]:
#save the data cleanly in cleaned file
df_clean_no_regions.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/gender-gap-education-levels_cleanded.csv',index=False,encoding='latin-1')

NameError: name 'df_clean_no_regions' is not defined

In [27]:
filtered_df_china = df[df['Country Name'] == 'Spain']
filtered_df_china

,Country Name,Year,Tertiary Enrolment (F),Tertiary Enrolment (M),Secondary Enrolment (M),Secondary Enrolment (F),Primary Enrolment (F),Primary Enrolment (M),Region
8064,Spain,1980,21.100000,27.220000,73.040000,75.000000,100.000000,99.990000,Europe
8065,Spain,1981,22.010674,27.103812,74.463418,76.313489,98.671769,98.562098,Europe
8066,Spain,1982,22.921348,26.987624,75.886835,77.626977,97.343538,97.134195,Europe
8067,Spain,1983,23.832022,26.871436,77.310253,78.940466,96.015306,95.706293,Europe
8068,Spain,1984,24.742696,26.755248,78.733670,80.253954,94.687075,94.278391,Europe
8069,Spain,1985,25.653370,26.639060,80.157088,81.567442,93.358844,92.850488,Europe
8070,Spain,1986,28.657270,28.473190,76.416112,77.947407,92.734227,91.653939,Europe
8071,Spain,1987,30.226980,29.542140,79.096986,80.419959,92.628044,91.618572,Europe
8072,Spain,1988,32.601610,30.947360,78.144282,79.645230,98.659230,98.551530,Europe
8073,Spain,1989,34.452920,33.004150,81.424890,82.447314,99.351060,99.115590,Europe
8074,Spain,1990,36.874010,34.299130,81.625108,82.853446,99.157130,99.284880,Europe
8075,Spain,1991,38.663830,35.484560,82.562338,83.734297,94.541285,94.102373,Europe
8076,Spain,1992,41.144480,37.476110,83.098303,84.427787,99.804660,99.503450,Europe
8077,Spain,1993,43.530870,38.928440,85.944618,87.588499,92.900738,92.419290,Europe
8078,Spain,1994,45.928920,42.234510,87.699445,88.351771,94.246165,94.178142,Europe
8079,Spain,1995,49.127230,42.478270,87.863407,89.711303,93.411471,93.834299,Europe
8080,Spain,1996,51.522170,44.004550,82.925056,85.139177,93.592255,93.751922,Europe
8081,Spain,1997,54.708080,46.576400,84.954380,86.694104,94.365548,94.344049,Europe
8082,Spain,1998,57.436960,48.444890,86.215793,88.118661,92.675376,93.543883,Europe
8083,Spain,1999,59.841790,50.445080,85.909270,88.609100,92.778603,93.257739,Europe
8084,Spain,2000,62.726290,52.978090,87.173150,90.443300,92.457762,92.295788,Europe
8085,Spain,2001,64.474020,55.340140,88.506300,92.270670,92.896163,93.252821,Europe
8086,Spain,2002,67.314420,56.168070,88.937400,93.025910,93.259102,93.350901,Europe
8087,Spain,2003,69.923960,58.332820,89.251700,93.442450,93.830222,93.991231,Europe
8088,Spain,2004,73.180040,59.384310,90.144590,94.825100,93.806194,93.865982,Europe
8089,Spain,2005,74.224840,60.464730,91.532810,95.115360,93.442713,93.602732,Europe
8090,Spain,2006,75.949730,61.522980,91.145190,94.684930,93.758199,93.833956,Europe
8091,Spain,2007,76.322300,61.573950,90.428040,93.817650,93.919892,93.910654,Europe
8092,Spain,2008,77.396920,62.485220,89.865620,93.249400,93.538996,93.380398,Europe
8093,Spain,2009,79.575600,64.005210,89.457420,92.784900,92.759235,92.690272,Europe
8094,Spain,2010,84.162370,68.095790,89.615110,92.200980,93.276613,93.086719,Europe
8095,Spain,2011,88.747410,71.805450,88.577750,90.265850,93.946351,93.600460,Europe
8096,Spain,2012,90.690850,74.297290,89.140630,90.508950,93.887612,93.416237,Europe
8097,Spain,2013,92.072410,75.803960,89.971970,91.125400,94.407478,93.937235,Europe
8098,Spain,2014,93.493330,77.790980,90.926200,91.954030,94.212469,93.904734,Europe
8099,Spain,2015,93.241800,78.340860,92.280140,93.288150,94.173267,93.859103,Europe
8100,Spain,2016,94.411690,78.987720,94.273120,95.647710,99.142760,98.458800,Europe
8101,Spain,2017,97.028160,81.053250,96.050460,97.750940,97.640030,96.926630,Europe
8102,Spain,2018,99.968350,82.662910,86.140041,86.178981,92.611322,92.719590,Europe
8103,Spain,2019,102.125970,84.070200,86.140041,86.178981,92.611322,92.719590,Europe
8104,Spain,2020,106.386720,86.043100,86.140041,86.178981,92.611322,92.719590,Europe
8105,Spain,2021,68.743549,52.505847,86.140041,86.178981,92.611322,92.719590,Europe