In [52]:
import pandas as pd
import numpy as np
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [53]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/population-growth-rate-vs-median-age.csv')
df = pd.read_csv(url, sep=';')
df

,Entity,Year,Natural growth rate - Sex: all - Age: all - Variant: estimates,Median age - Sex: all - Age: all - Variant: estimates
0,Afghanistan,1950.0,1.09,18.4
1,Afghanistan,1951.0,1.18,18.4
2,Afghanistan,1952.0,1.27,18.4
3,Afghanistan,1953.0,1.35,18.3
4,Afghanistan,1954.0,1.40,18.3
...,...,...,...,...
58330,Zimbabwe,1945.0,NaN,NaN
58331,Zimbabwe,1946.0,NaN,NaN
58332,Zimbabwe,1947.0,NaN,NaN
58333,Zimbabwe,1948.0,NaN,NaN
58334,Zimbabwe,1949.0,NaN,NaN

In [54]:
df_filtered = df[(df['Year'] >= 1980) & (df['Year'] <= 2021)]

In [55]:
df_filtered.rename(columns={
    'Natural growth rate - Sex: all - Age: all - Variant: estimates': 'Natural Growth Rate',
    'Median age - Sex: all - Age: all - Variant: estimates': 'Median Age',
    'Entity': 'Country Name'
}, inplace=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_27359/4041423871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.rename(columns={

In [56]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11147 entries, 30 to 58147
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country Name         11147 non-null  object
 1   Year                 11147 non-null  float64
 2   Natural Growth Rate  10710 non-null  float64
 3   Median Age           10710 non-null  float64
dtypes: float64(3), object(1)
memory usage: 435.4+ KB

In [57]:
df_filtered['Year'] = df_filtered['Year'].astype(int)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_27359/37506180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Year'] = df_filtered['Year'].astype(int)

In [58]:
df_filtered

      Country Name  Year  Natural Growth Rate  Median Age
30     Afghanistan  1980                 2.63        15.9
31     Afghanistan  1981                 2.67        15.8
32     Afghanistan  1982                 2.45        15.7
33     Afghanistan  1983                 2.50        15.6
34     Afghanistan  1984                 2.02        15.5
...            ...   ...                  ...         ...
58143     Zimbabwe  2017                 2.42        17.3
58144     Zimbabwe  2018                 2.41        17.5
58145     Zimbabwe  2019                 2.35        17.7
58146     Zimbabwe  2020                 2.29        17.9
58147     Zimbabwe  2021                 2.15        18.1

[11147 rows x 4 columns]

In [59]:
df_filtered

      Country Name  Year  Natural Growth Rate  Median Age
30     Afghanistan  1980                 2.63        15.9
31     Afghanistan  1981                 2.67        15.8
32     Afghanistan  1982                 2.45        15.7
33     Afghanistan  1983                 2.50        15.6
34     Afghanistan  1984                 2.02        15.5
...            ...   ...                  ...         ...
58143     Zimbabwe  2017                 2.42        17.3
58144     Zimbabwe  2018                 2.41        17.5
58145     Zimbabwe  2019                 2.35        17.7
58146     Zimbabwe  2020                 2.29        17.9
58147     Zimbabwe  2021                 2.15        18.1

[11147 rows x 4 columns]

In [69]:
# To find where the missing values are, we can use the isnull() method along with any() to filter rows with missing values
missing_values = df_filtered[df_filtered.isnull().any(axis=1)]

missing_values['Country Name'].unique()

array(['Akrotiri and Dhekelia', 'Aland Islands', 'Antarctica', 'Asia',
       'Austria-Hungary', 'Baden', 'Bavaria', 'Bouvet Island',
       'British Indian Ocean Territory', 'Channel Islands',
       'Christmas Island', 'Cocos Islands', 'Czechoslovakia',
       'East Germany', 'Ethiopia (former)', 'Europe',
       'European Union (27)', 'French Southern Territories', 'Hanover',
       'Heard Island and McDonald Islands', 'Hesse Electoral',
       'Hesse Grand Ducal', 'Korea (former)', 'Mecklenburg Schwerin',
       'Modena', 'Nagorno-Karabakh', 'Netherlands Antilles',
       'Norfolk Island', 'North America', 'Northern Cyprus', 'Oceania',
       'Parma', 'Pitcairn', 'Republic of Vietnam', 'Saxony',
       'Serbia and Montenegro', 'Serbia excluding Kosovo', 'Somaliland',
       'South America', 'South Georgia and the South Sandwich Islands',
       'South Ossetia', 'Svalbard and Jan Mayen', 'Transnistria',
       'Tuscany', 'Two Sicilies', 'USSR',
       'United States Minor Outlying Islands', 'West Germany',
       'Wuerttemburg', 'Yemen Arab Republic', "Yemen People's Republic",
       'Yugoslavia', 'Zanzibar'], dtype=object)

In [68]:
df_filtered.isnull().values.any()

True

In [63]:
df_filtered.isna().sum()

Country Name             0
Year                     0
Natural Growth Rate    437
Median Age             437
dtype: int64

In [64]:
df_filtered.isnull()

       Country Name   Year  Natural Growth Rate  Median Age
30            False  False                False       False
31            False  False                False       False
32            False  False                False       False
33            False  False                False       False
34            False  False                False       False
...             ...    ...                  ...         ...
58143         False  False                False       False
58144         False  False                False       False
58145         False  False                False       False
58146         False  False                False       False
58147         False  False                False       False

[11147 rows x 4 columns]

In [74]:
df_filtered = df_filtered.dropna()

In [75]:
df_filtered.isna().sum()

Country Name           0
Year                   0
Natural Growth Rate    0
Median Age             0
dtype: int64

In [76]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10710 entries, 30 to 58147
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country Name         10710 non-null  object
 1   Year                 10710 non-null  int64
 2   Natural Growth Rate  10710 non-null  float64
 3   Median Age           10710 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 418.4+ KB

In [77]:
df_filtered.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/population-growth-rate-vs-median-age.csv',index=False)