In [11]:
import pandas as pd
import numpy as np
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [12]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/population-growth-rate-vs-median-age.csv')
df = pd.read_csv(url, sep=';')
df

,Entity,Year,Natural growth rate - Sex: all - Age: all - Variant: estimates,Median age - Sex: all - Age: all - Variant: estimates
0,Afghanistan,1950.0,1.09,18.4
1,Afghanistan,1951.0,1.18,18.4
2,Afghanistan,1952.0,1.27,18.4
3,Afghanistan,1953.0,1.35,18.3
4,Afghanistan,1954.0,1.40,18.3
...,...,...,...,...
58330,Zimbabwe,1945.0,NaN,NaN
58331,Zimbabwe,1946.0,NaN,NaN
58332,Zimbabwe,1947.0,NaN,NaN
58333,Zimbabwe,1948.0,NaN,NaN
58334,Zimbabwe,1949.0,NaN,NaN

In [13]:
df_filtered = df[(df['Year'] >= 1980) & (df['Year'] <= 2021)]

In [14]:
df_filtered.rename(columns={
    'Natural growth rate - Sex: all - Age: all - Variant: estimates': 'Natural Growth Rate',
    'Median age - Sex: all - Age: all - Variant: estimates': 'Median Age',
    'Entity': 'Country Name'
}, inplace=True)

/var/folders/23/ykjhg9v57tn3wfmhgxtgj1s80000gn/T/ipykernel_27359/4041423871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.rename(columns={

In [15]:
df_filtered

      Country Name    Year  Natural Growth Rate  Median Age
30     Afghanistan  1980.0                 2.63        15.9
31     Afghanistan  1981.0                 2.67        15.8
32     Afghanistan  1982.0                 2.45        15.7
33     Afghanistan  1983.0                 2.50        15.6
34     Afghanistan  1984.0                 2.02        15.5
...            ...     ...                  ...         ...
58143     Zimbabwe  2017.0                 2.42        17.3
58144     Zimbabwe  2018.0                 2.41        17.5
58145     Zimbabwe  2019.0                 2.35        17.7
58146     Zimbabwe  2020.0                 2.29        17.9
58147     Zimbabwe  2021.0                 2.15        18.1

[11147 rows x 4 columns]

In [16]:
df_filtered.isnull().values.any()

True

In [17]:
df_filtered.isna().sum()

Country Name             0
Year                     0
Natural Growth Rate    437
Median Age             437
dtype: int64

In [18]:
df_filtered = df_filtered.dropna()

In [19]:
df_filtered.isna().sum()

Country Name           0
Year                   0
Natural Growth Rate    0
Median Age             0
dtype: int64

In [20]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10710 entries, 30 to 58147
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country Name         10710 non-null  object
 1   Year                 10710 non-null  float64
 2   Natural Growth Rate  10710 non-null  float64
 3   Median Age           10710 non-null  float64
dtypes: float64(3), object(1)
memory usage: 418.4+ KB

In [22]:
df_filtered.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/population-growth-rate-vs-median-age.csv',index=False)