In [3]:
import pandas as pd

In [4]:
url = ('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Raw data/World demographic/world bank population/world_population.csv')
df = pd.read_csv(url)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country Name      16492 non-null  object
 1   Year              16492 non-null  int64
 2   total_population  16492 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 386.7+ KB

In [6]:
df = df[df['Year'] != 2022]

In [7]:
df.isnull().values.any()

False

In [8]:
df_long = pd.melt(df, id_vars=['Country Name'], var_name='Year', value_name='total_population')

# Convert 'Year' to an integer
df_long['Year'] = df_long['Year'].astype(int)

df_sorted = df_long.sort_values(by=['Country Name','Year']).round(decimals=2)

# Reset the index
df_sorted.reset_index(drop=True, inplace=True)

ValueError: value_name (total_population) cannot match an element in the DataFrame columns.

In [9]:
df

      Country Name  Year  total_population
0      Afghanistan  1960         8622466.0
1      Afghanistan  1961         8790140.0
2      Afghanistan  1962         8969047.0
3      Afghanistan  1963         9157465.0
4      Afghanistan  1964         9355514.0
...            ...   ...               ...
16487     Zimbabwe  2017        14751101.0
16488     Zimbabwe  2018        15052184.0
16489     Zimbabwe  2019        15354608.0
16490     Zimbabwe  2020        15669666.0
16491     Zimbabwe  2021        15993524.0

[16492 rows x 3 columns]

In [10]:
df_filtered = df[(df['Year'] >= 1980) & (df['Year'] <= 2021)]

In [15]:
df_filtered

      Country Name  Year  Total Population
20     Afghanistan  1980        12486631.0
21     Afghanistan  1981        11155195.0
22     Afghanistan  1982        10088289.0
23     Afghanistan  1983         9951449.0
24     Afghanistan  1984        10243686.0
...            ...   ...               ...
16487     Zimbabwe  2017        14751101.0
16488     Zimbabwe  2018        15052184.0
16489     Zimbabwe  2019        15354608.0
16490     Zimbabwe  2020        15669666.0
16491     Zimbabwe  2021        15993524.0

[11172 rows x 3 columns]

In [14]:
df_filtered = df_filtered.rename(columns={'total_population': 'Total Population'})

In [16]:
df_filtered.to_csv('/Users/javi/Desktop/Ironhack/Entregas_de_github/Final-Project-at-Ironhack/Data/Cleaned/world_population.csv', index=False, encoding='latin-1')